$dark-gray-darker-1:    Darker($dark-gray, $percentage-small-15);
$dark-gray-darker-2:    Darker($dark-gray, $percentage-small-14);
$dark-gray-darker-3:    Darker($dark-gray, $percentage-small-13);
$dark-gray-darker-4:    Darker($dark-gray, $percentage-small-12);
$dark-gray-darker-5:    Darker($dark-gray, $percentage-small-11);
$dark-gray-darker-6:    Darker($dark-gray, $percentage-small-10);
$dark-gray-darker-7:    Darker($dark-gray, $percentage-small-9);
$dark-gray-darker-8:    Darker($dark-gray, $percentage-small-8);
$dark-gray-darker-9:    Darker($dark-gray, $percentage-small-7);
$dark-gray-darker-10:   Darker($dark-gray, $percentage-small-6);
$dark-gray-darker-11:   Darker($dark-gray, $percentage-small-5);
$dark-gray-darker-12:   Darker($dark-gray, $percentage-small-4);
$dark-gray-darker-13:   Darker($dark-gray, $percentage-small-3);
$dark-gray-darker-14:   Darker($dark-gray, $percentage-small-2);
$dark-gray-darker-15:   Darker($dark-gray, $percentage-small-1);



$dark-gray-darkers: (
    "1":    $dark-gray-darker-1,
    "2":    $dark-gray-darker-2,
    "3":    $dark-gray-darker-3,
    "4":    $dark-gray-darker-4,
    "5":    $dark-gray-darker-5,
    "6":    $dark-gray-darker-6,
    "7":    $dark-gray-darker-7,
    "8":    $dark-gray-darker-8,
    "9":    $dark-gray-darker-9,
    "10":   $dark-gray-darker-10,
    "11":   $dark-gray-darker-11,
    "12":   $dark-gray-darker-12,
    "13":   $dark-gray-darker-13,
    "14":   $dark-gray-darker-14,
    "15":   $dark-gray-darker-15
);