$dark-gray-lighter-1:   Lighter($dark-gray, $percentage-small-15);
$dark-gray-lighter-2:   Lighter($dark-gray, $percentage-small-14);
$dark-gray-lighter-3:   Lighter($dark-gray, $percentage-small-13);
$dark-gray-lighter-4:   Lighter($dark-gray, $percentage-small-12);
$dark-gray-lighter-5:   Lighter($dark-gray, $percentage-small-11);
$dark-gray-lighter-6:   Lighter($dark-gray, $percentage-small-10);
$dark-gray-lighter-7:   Lighter($dark-gray, $percentage-small-9);
$dark-gray-lighter-8:   Lighter($dark-gray, $percentage-small-8);
$dark-gray-lighter-9:   Lighter($dark-gray, $percentage-small-7);
$dark-gray-lighter-10:  Lighter($dark-gray, $percentage-small-6);
$dark-gray-lighter-11:  Lighter($dark-gray, $percentage-small-5);
$dark-gray-lighter-12:  Lighter($dark-gray, $percentage-small-4);
$dark-gray-lighter-13:  Lighter($dark-gray, $percentage-small-3);
$dark-gray-lighter-14:  Lighter($dark-gray, $percentage-small-2);
$dark-gray-lighter-15:  Lighter($dark-gray, $percentage-small-1);



$dark-gray-lighters: (
    "1":    $dark-gray-lighter-1,
    "2":    $dark-gray-lighter-2,
    "3":    $dark-gray-lighter-3,
    "4":    $dark-gray-lighter-4,
    "5":    $dark-gray-lighter-5,
    "6":    $dark-gray-lighter-6,
    "7":    $dark-gray-lighter-7,
    "8":    $dark-gray-lighter-8,
    "9":    $dark-gray-lighter-9,
    "10":   $dark-gray-lighter-10,
    "11":   $dark-gray-lighter-11,
    "12":   $dark-gray-lighter-12,
    "13":   $dark-gray-lighter-13,
    "14":   $dark-gray-lighter-14,
    "15":   $dark-gray-lighter-15
);