@use "sass:selector";
@use "sass:string";

$dark-olive-green-name: string.quote("dark-olive-green");



$dark-olive-green:  #556B2F;

$dark-olive-green-50:   Lighter($dark-olive-green, percentage(4.5, 5));
$dark-olive-green-100:  Lighter($dark-olive-green, percentage(4, 5));
$dark-olive-green-200:  Lighter($dark-olive-green, percentage(3, 5));
$dark-olive-green-300:  Lighter($dark-olive-green, percentage(2, 5));
$dark-olive-green-400:  Lighter($dark-olive-green, percentage(1, 5));
$dark-olive-green-500:  var(selector.append($variable-prefix, $dark-olive-green-name));
$dark-olive-green-600:  Darker($dark-olive-green, percentage(1, 5));
$dark-olive-green-700:  Darker($dark-olive-green, percentage(2, 5));
$dark-olive-green-800:  Darker($dark-olive-green, percentage(3, 5));
$dark-olive-green-900:  Darker($dark-olive-green, percentage(4, 5));
$dark-olive-green-950:  Darker($dark-olive-green, percentage(4.5, 5));



$dark-olive-greens: (
    "50":   $dark-olive-green-50,
    "100":  $dark-olive-green-100,
    "200":  $dark-olive-green-200,
    "300":  $dark-olive-green-300,
    "400":  $dark-olive-green-400,
    "500":  $dark-olive-green-500,
    "600":  $dark-olive-green-600,
    "700":  $dark-olive-green-700,
    "800":  $dark-olive-green-800,
    "900":  $dark-olive-green-900,
    "950":  $dark-olive-green-950
);