@use "sass:selector";
@use "sass:string";

$dark-red-name: string.quote("dark-red");



$dark-red: #8B0000;

$dark-red-50:   Lighter($dark-red, percentage(4.5, 5));
$dark-red-100:  Lighter($dark-red, percentage(4, 5));
$dark-red-200:  Lighter($dark-red, percentage(3, 5));
$dark-red-300:  Lighter($dark-red, percentage(2, 5));
$dark-red-400:  Lighter($dark-red, percentage(1, 5));
$dark-red-500:  var(selector.append($variable-prefix, $dark-red-name));
$dark-red-600:  Darker($dark-red, percentage(1, 5));
$dark-red-700:  Darker($dark-red, percentage(2, 5));
$dark-red-800:  Darker($dark-red, percentage(3, 5));
$dark-red-900:  Darker($dark-red, percentage(4, 5));
$dark-red-950:  Darker($dark-red, percentage(4.5, 5));



$dark-reds: (
    "50":   $dark-red-50,
    "100":  $dark-red-100,
    "200":  $dark-red-200,
    "300":  $dark-red-300,
    "400":  $dark-red-400,
    "500":  $dark-red-500,
    "600":  $dark-red-600,
    "700":  $dark-red-700,
    "800":  $dark-red-900,
    "900":  $dark-red-900,
    "950":  $dark-red-950
);