$cadet-blue-lighter-1:  Lighter($cadet-blue, $percentage-small-15);
$cadet-blue-lighter-2:  Lighter($cadet-blue, $percentage-small-14);
$cadet-blue-lighter-3:  Lighter($cadet-blue, $percentage-small-13);
$cadet-blue-lighter-4:  Lighter($cadet-blue, $percentage-small-12);
$cadet-blue-lighter-5:  Lighter($cadet-blue, $percentage-small-11);
$cadet-blue-lighter-6:  Lighter($cadet-blue, $percentage-small-10);
$cadet-blue-lighter-7:  Lighter($cadet-blue, $percentage-small-9);
$cadet-blue-lighter-8:  Lighter($cadet-blue, $percentage-small-8);
$cadet-blue-lighter-9:  Lighter($cadet-blue, $percentage-small-7);
$cadet-blue-lighter-10: Lighter($cadet-blue, $percentage-small-6);
$cadet-blue-lighter-11: Lighter($cadet-blue, $percentage-small-5);
$cadet-blue-lighter-12: Lighter($cadet-blue, $percentage-small-4);
$cadet-blue-lighter-13: Lighter($cadet-blue, $percentage-small-3);
$cadet-blue-lighter-14: Lighter($cadet-blue, $percentage-small-2);
$cadet-blue-lighter-15: Lighter($cadet-blue, $percentage-small-1);



$cadet-blue-lighters: (
    "1":    $cadet-blue-lighter-1,
    "2":    $cadet-blue-lighter-2,
    "3":    $cadet-blue-lighter-3,
    "4":    $cadet-blue-lighter-4,
    "5":    $cadet-blue-lighter-5,
    "6":    $cadet-blue-lighter-6,
    "7":    $cadet-blue-lighter-7,
    "8":    $cadet-blue-lighter-8,
    "9":    $cadet-blue-lighter-9,
    "10":   $cadet-blue-lighter-10,
    "11":   $cadet-blue-lighter-11,
    "12":   $cadet-blue-lighter-12,
    "13":   $cadet-blue-lighter-13,
    "14":   $cadet-blue-lighter-14,
    "15":   $cadet-blue-lighter-15
);