$indigo-darker-1:   Darker($indigo, $percentage-small-15);
$indigo-darker-2:   Darker($indigo, $percentage-small-14);
$indigo-darker-3:   Darker($indigo, $percentage-small-13);
$indigo-darker-4:   Darker($indigo, $percentage-small-12);
$indigo-darker-5:   Darker($indigo, $percentage-small-11);
$indigo-darker-6:   Darker($indigo, $percentage-small-10);
$indigo-darker-7:   Darker($indigo, $percentage-small-9);
$indigo-darker-8:   Darker($indigo, $percentage-small-8);
$indigo-darker-9:   Darker($indigo, $percentage-small-7);
$indigo-darker-10:  Darker($indigo, $percentage-small-6);
$indigo-darker-11:  Darker($indigo, $percentage-small-5);
$indigo-darker-12:  Darker($indigo, $percentage-small-4);
$indigo-darker-13:  Darker($indigo, $percentage-small-3);
$indigo-darker-14:  Darker($indigo, $percentage-small-2);
$indigo-darker-15:  Darker($indigo, $percentage-small-1);



$indigo-darkers: (
    "1":    $indigo-darker-1,
    "2":    $indigo-darker-2,
    "3":    $indigo-darker-3,
    "4":    $indigo-darker-4,
    "5":    $indigo-darker-5,
    "6":    $indigo-darker-6,
    "7":    $indigo-darker-7,
    "8":    $indigo-darker-8,
    "9":    $indigo-darker-9,
    "10":   $indigo-darker-10,
    "11":   $indigo-darker-11,
    "12":   $indigo-darker-12,
    "13":   $indigo-darker-13,
    "14":   $indigo-darker-14,
    "15":   $indigo-darker-15
);