$indigo-lighter-1:  Lighter($indigo, $percentage-small-15);
$indigo-lighter-2:  Lighter($indigo, $percentage-small-14);
$indigo-lighter-3:  Lighter($indigo, $percentage-small-13);
$indigo-lighter-4:  Lighter($indigo, $percentage-small-12);
$indigo-lighter-5:  Lighter($indigo, $percentage-small-11);
$indigo-lighter-6:  Lighter($indigo, $percentage-small-10);
$indigo-lighter-7:  Lighter($indigo, $percentage-small-9);
$indigo-lighter-8:  Lighter($indigo, $percentage-small-8);
$indigo-lighter-9:  Lighter($indigo, $percentage-small-7);
$indigo-lighter-10: Lighter($indigo, $percentage-small-6);
$indigo-lighter-11: Lighter($indigo, $percentage-small-5);
$indigo-lighter-12: Lighter($indigo, $percentage-small-4);
$indigo-lighter-13: Lighter($indigo, $percentage-small-3);
$indigo-lighter-14: Lighter($indigo, $percentage-small-2);
$indigo-lighter-15: Lighter($indigo, $percentage-small-1);



$indigo-lighters: (
    "1":    $indigo-lighter-1,
    "2":    $indigo-lighter-2,
    "3":    $indigo-lighter-3,
    "4":    $indigo-lighter-4,
    "5":    $indigo-lighter-5,
    "6":    $indigo-lighter-6,
    "7":    $indigo-lighter-7,
    "8":    $indigo-lighter-8,
    "9":    $indigo-lighter-9,
    "10":   $indigo-lighter-10,
    "11":   $indigo-lighter-11,
    "12":   $indigo-lighter-12,
    "13":   $indigo-lighter-13,
    "14":   $indigo-lighter-14,
    "15":   $indigo-lighter-15
);