$indigo-lighter-1:  Lighter($indigo, percentage(1, 16));
$indigo-lighter-2:  Lighter($indigo, percentage(2, 16));
$indigo-lighter-3:  Lighter($indigo, percentage(3, 16));
$indigo-lighter-4:  Lighter($indigo, percentage(4, 16));
$indigo-lighter-5:  Lighter($indigo, percentage(5, 16));
$indigo-lighter-6:  Lighter($indigo, percentage(6, 16));
$indigo-lighter-7:  Lighter($indigo, percentage(7, 16));
$indigo-lighter-8:  Lighter($indigo, percentage(8, 16));
$indigo-lighter-9:  Lighter($indigo, percentage(9, 16));
$indigo-lighter-10: Lighter($indigo, percentage(10, 16));
$indigo-lighter-11: Lighter($indigo, percentage(11, 16));
$indigo-lighter-12: Lighter($indigo, percentage(12, 16));
$indigo-lighter-13: Lighter($indigo, percentage(13, 16));
$indigo-lighter-14: Lighter($indigo, percentage(14, 16));
$indigo-lighter-15: Lighter($indigo, percentage(15, 16));



$indigo-lighters: (
    "1":    $indigo-lighter-1,
    "2":    $indigo-lighter-2,
    "3":    $indigo-lighter-3,
    "4":    $indigo-lighter-4,
    "5":    $indigo-lighter-5,
    "6":    $indigo-lighter-6,
    "7":    $indigo-lighter-7,
    "8":    $indigo-lighter-8,
    "9":    $indigo-lighter-9,
    "10":   $indigo-lighter-10,
    "11":   $indigo-lighter-11,
    "12":   $indigo-lighter-12,
    "13":   $indigo-lighter-13,
    "14":   $indigo-lighter-14,
    "15":   $indigo-lighter-15
);