$turquoise-darker-1:    Darker($turquoise, $percentage-small-15);
$turquoise-darker-2:    Darker($turquoise, $percentage-small-14);
$turquoise-darker-3:    Darker($turquoise, $percentage-small-13);
$turquoise-darker-4:    Darker($turquoise, $percentage-small-12);
$turquoise-darker-5:    Darker($turquoise, $percentage-small-11);
$turquoise-darker-6:    Darker($turquoise, $percentage-small-10);
$turquoise-darker-7:    Darker($turquoise, $percentage-small-9);
$turquoise-darker-8:    Darker($turquoise, $percentage-small-8);
$turquoise-darker-9:    Darker($turquoise, $percentage-small-7);
$turquoise-darker-10:   Darker($turquoise, $percentage-small-6);
$turquoise-darker-11:   Darker($turquoise, $percentage-small-5);
$turquoise-darker-12:   Darker($turquoise, $percentage-small-4);
$turquoise-darker-13:   Darker($turquoise, $percentage-small-3);
$turquoise-darker-14:   Darker($turquoise, $percentage-small-2);
$turquoise-darker-15:   Darker($turquoise, $percentage-small-1);



$turquoise-darkers: (
    "1":    $turquoise-darker-1,
    "2":    $turquoise-darker-2,
    "3":    $turquoise-darker-3,
    "4":    $turquoise-darker-4,
    "5":    $turquoise-darker-5,
    "6":    $turquoise-darker-6,
    "7":    $turquoise-darker-7,
    "8":    $turquoise-darker-8,
    "9":    $turquoise-darker-9,
    "10":   $turquoise-darker-10,
    "11":   $turquoise-darker-11,
    "12":   $turquoise-darker-12,
    "13":   $turquoise-darker-13,
    "14":   $turquoise-darker-14,
    "15":   $turquoise-darker-15
);