$light-cyan-darker-1:   Darker($light-cyan, $percentage-small-15);
$light-cyan-darker-2:   Darker($light-cyan, $percentage-small-14);
$light-cyan-darker-3:   Darker($light-cyan, $percentage-small-13);
$light-cyan-darker-4:   Darker($light-cyan, $percentage-small-12);
$light-cyan-darker-5:   Darker($light-cyan, $percentage-small-11);
$light-cyan-darker-6:   Darker($light-cyan, $percentage-small-10);
$light-cyan-darker-7:   Darker($light-cyan, $percentage-small-9);
$light-cyan-darker-8:   Darker($light-cyan, $percentage-small-8);
$light-cyan-darker-9:   Darker($light-cyan, $percentage-small-7);
$light-cyan-darker-10:  Darker($light-cyan, $percentage-small-6);
$light-cyan-darker-11:  Darker($light-cyan, $percentage-small-5);
$light-cyan-darker-12:  Darker($light-cyan, $percentage-small-4);
$light-cyan-darker-13:  Darker($light-cyan, $percentage-small-3);
$light-cyan-darker-14:  Darker($light-cyan, $percentage-small-2);
$light-cyan-darker-15:  Darker($light-cyan, $percentage-small-1);



$light-cyan-darkers: (
    "1":    $light-cyan-darker-1,
    "2":    $light-cyan-darker-2,
    "3":    $light-cyan-darker-3,
    "4":    $light-cyan-darker-4,
    "5":    $light-cyan-darker-5,
    "6":    $light-cyan-darker-6,
    "7":    $light-cyan-darker-7,
    "8":    $light-cyan-darker-8,
    "9":    $light-cyan-darker-9,
    "10":   $light-cyan-darker-10,
    "11":   $light-cyan-darker-11,
    "12":   $light-cyan-darker-12,
    "13":   $light-cyan-darker-13,
    "14":   $light-cyan-darker-14,
    "15":   $light-cyan-darker-15
);