$medium-spring-green-darker-1:  Darker($medium-spring-green, $percentage-small-15);
$medium-spring-green-darker-2:  Darker($medium-spring-green, $percentage-small-14);
$medium-spring-green-darker-3:  Darker($medium-spring-green, $percentage-small-13);
$medium-spring-green-darker-4:  Darker($medium-spring-green, $percentage-small-12);
$medium-spring-green-darker-5:  Darker($medium-spring-green, $percentage-small-11);
$medium-spring-green-darker-6:  Darker($medium-spring-green, $percentage-small-10);
$medium-spring-green-darker-7:  Darker($medium-spring-green, $percentage-small-9);
$medium-spring-green-darker-8:  Darker($medium-spring-green, $percentage-small-8);
$medium-spring-green-darker-9:  Darker($medium-spring-green, $percentage-small-7);
$medium-spring-green-darker-10: Darker($medium-spring-green, $percentage-small-6);
$medium-spring-green-darker-11: Darker($medium-spring-green, $percentage-small-5);
$medium-spring-green-darker-12: Darker($medium-spring-green, $percentage-small-4);
$medium-spring-green-darker-13: Darker($medium-spring-green, $percentage-small-3);
$medium-spring-green-darker-14: Darker($medium-spring-green, $percentage-small-2);
$medium-spring-green-darker-15: Darker($medium-spring-green, $percentage-small-1);



$medium-spring-green-darkers: (
    "1":    $medium-spring-green-darker-1,
    "2":    $medium-spring-green-darker-2,
    "3":    $medium-spring-green-darker-3,
    "4":    $medium-spring-green-darker-4,
    "5":    $medium-spring-green-darker-5,
    "6":    $medium-spring-green-darker-6,
    "7":    $medium-spring-green-darker-7,
    "8":    $medium-spring-green-darker-8,
    "9":    $medium-spring-green-darker-9,
    "10":   $medium-spring-green-darker-10,
    "11":   $medium-spring-green-darker-11,
    "12":   $medium-spring-green-darker-12,
    "13":   $medium-spring-green-darker-13,
    "14":   $medium-spring-green-darker-14,
    "15":   $medium-spring-green-darker-15
);