@use "sass:selector";
@use "sass:string";

$pale-violet-red-name:  string.quote("pale-violet-red");



$pale-violet-red: #DB7093;

$pale-violet-red-50:    Lighter($pale-violet-red, percentage(4.5, 5));
$pale-violet-red-100:   Lighter($pale-violet-red, percentage(4, 5));
$pale-violet-red-200:   Lighter($pale-violet-red, percentage(3, 5));
$pale-violet-red-300:   Lighter($pale-violet-red, percentage(2, 5));
$pale-violet-red-400:   Lighter($pale-violet-red, percentage(1, 5));
$pale-violet-red-500:   var(selector.append($variable-prefix, $pale-violet-red-name));
$pale-violet-red-600:   Darker($pale-violet-red, percentage(1, 5));
$pale-violet-red-700:   Darker($pale-violet-red, percentage(2, 5));
$pale-violet-red-800:   Darker($pale-violet-red, percentage(3, 5));
$pale-violet-red-900:   Darker($pale-violet-red, percentage(4, 5));
$pale-violet-red-950:   Darker($pale-violet-red, percentage(4.5, 5));



$pale-violet-reds: (
    "50":   $pale-violet-red-50,
    "100":  $pale-violet-red-100,
    "200":  $pale-violet-red-200,
    "300":  $pale-violet-red-300,
    "400":  $pale-violet-red-400,
    "500":  $pale-violet-red-500,
    "600":  $pale-violet-red-600,
    "700":  $pale-violet-red-700,
    "800":  $pale-violet-red-800,
    "950":  $pale-violet-red-950
);