@use "sass:selector";
@use "sass:string";

$highway-orange-name: string.quote("highway-orange");



$highway-orange: #e06000;

$highway-orange-50:     Lighter($highway-orange, percentage(4.5, 5));
$highway-orange-100:    Lighter($highway-orange, percentage(4, 5));
$highway-orange-200:    Lighter($highway-orange, percentage(3, 5));
$highway-orange-300:    Lighter($highway-orange, percentage(2, 5));
$highway-orange-400:    Lighter($highway-orange, percentage(1, 5));
$highway-orange-500:    var(selector.append($variable-prefix, $highway-orange-name));
$highway-orange-600:    Darker($highway-orange, percentage(1, 5));
$highway-orange-700:    Darker($highway-orange, percentage(2, 5));
$highway-orange-800:    Darker($highway-orange, percentage(3, 5));
$highway-orange-900:    Darker($highway-orange, percentage(4, 5));
$highway-orange-950:    Darker($highway-orange, percentage(4.5, 5));



$highway-oranges: (
    "50":   $highway-orange-50,
    "100":  $highway-orange-100,
    "200":  $highway-orange-200,
    "300":  $highway-orange-300,
    "400":  $highway-orange-400,
    "500":  $highway-orange-500,
    "600":  $highway-orange-600,
    "700":  $highway-orange-700,
    "800":  $highway-orange-800,
    "900":  $highway-orange-900,
    "950":  $highway-orange-950
);