$gray-darker-1:     Darker($gray, $percentage-small-15);
$gray-darker-2:     Darker($gray, $percentage-small-14);
$gray-darker-3:     Darker($gray, $percentage-small-13);
$gray-darker-4:     Darker($gray, $percentage-small-12);
$gray-darker-5:     Darker($gray, $percentage-small-11);
$gray-darker-6:     Darker($gray, $percentage-small-10);
$gray-darker-7:     Darker($gray, $percentage-small-9);
$gray-darker-8:     Darker($gray, $percentage-small-8);
$gray-darker-9:     Darker($gray, $percentage-small-7);
$gray-darker-10:    Darker($gray, $percentage-small-6);
$gray-darker-11:    Darker($gray, $percentage-small-5);
$gray-darker-12:    Darker($gray, $percentage-small-4);
$gray-darker-13:    Darker($gray, $percentage-small-3);
$gray-darker-14:    Darker($gray, $percentage-small-2);
$gray-darker-15:    Darker($gray, $percentage-small-1);



$gray-darkers: (
    "1":    $gray-darker-1,
    "2":    $gray-darker-2,
    "3":    $gray-darker-3,
    "4":    $gray-darker-4,
    "5":    $gray-darker-5,
    "6":    $gray-darker-6,
    "7":    $gray-darker-7,
    "8":    $gray-darker-8,
    "9":    $gray-darker-9,
    "10":   $gray-darker-10,
    "11":   $gray-darker-11,
    "12":   $gray-darker-12,
    "13":   $gray-darker-13,
    "14":   $gray-darker-14,
    "15":   $gray-darker-15
);