$dark-green-darker-1:   Darker($dark-green, $percentage-small-15);
$dark-green-darker-2:   Darker($dark-green, $percentage-small-14);
$dark-green-darker-3:   Darker($dark-green, $percentage-small-13);
$dark-green-darker-4:   Darker($dark-green, $percentage-small-12);
$dark-green-darker-5:   Darker($dark-green, $percentage-small-11);
$dark-green-darker-6:   Darker($dark-green, $percentage-small-10);
$dark-green-darker-7:   Darker($dark-green, $percentage-small-9);
$dark-green-darker-8:   Darker($dark-green, $percentage-small-8);
$dark-green-darker-9:   Darker($dark-green, $percentage-small-7);
$dark-green-darker-10:  Darker($dark-green, $percentage-small-6);
$dark-green-darker-11:  Darker($dark-green, $percentage-small-5);
$dark-green-darker-12:  Darker($dark-green, $percentage-small-4);
$dark-green-darker-13:  Darker($dark-green, $percentage-small-3);
$dark-green-darker-14:  Darker($dark-green, $percentage-small-2);
$dark-green-darker-15:  Darker($dark-green, $percentage-small-1);



$dark-green-darkers: (
    "1":    $dark-green-darker-1,
    "2":    $dark-green-darker-2,
    "3":    $dark-green-darker-3,
    "4":    $dark-green-darker-4,
    "5":    $dark-green-darker-5,
    "6":    $dark-green-darker-6,
    "7":    $dark-green-darker-7,
    "8":    $dark-green-darker-8,
    "9":    $dark-green-darker-9,
    "10":   $dark-green-darker-10,
    "11":   $dark-green-darker-11,
    "12":   $dark-green-darker-12,
    "13":   $dark-green-darker-13,
    "14":   $dark-green-darker-14,
    "15":   $dark-green-darker-15
);