$dim-gray-darker-1:     Darker($dim-gray, $percentage-small-15);
$dim-gray-darker-2:     Darker($dim-gray, $percentage-small-14);
$dim-gray-darker-3:     Darker($dim-gray, $percentage-small-13);
$dim-gray-darker-4:     Darker($dim-gray, $percentage-small-12);
$dim-gray-darker-5:     Darker($dim-gray, $percentage-small-11);
$dim-gray-darker-6:     Darker($dim-gray, $percentage-small-10);
$dim-gray-darker-7:     Darker($dim-gray, $percentage-small-9);
$dim-gray-darker-8:     Darker($dim-gray, $percentage-small-8);
$dim-gray-darker-9:     Darker($dim-gray, $percentage-small-7);
$dim-gray-darker-10:    Darker($dim-gray, $percentage-small-6);
$dim-gray-darker-11:    Darker($dim-gray, $percentage-small-5);
$dim-gray-darker-12:    Darker($dim-gray, $percentage-small-4);
$dim-gray-darker-13:    Darker($dim-gray, $percentage-small-3);
$dim-gray-darker-14:    Darker($dim-gray, $percentage-small-2);
$dim-gray-darker-15:    Darker($dim-gray, $percentage-small-1);



$dim-gray-darkers: (
    "1":    $dim-gray-darker-1,
    "2":    $dim-gray-darker-2,
    "3":    $dim-gray-darker-3,
    "4":    $dim-gray-darker-4,
    "5":    $dim-gray-darker-5,
    "6":    $dim-gray-darker-6,
    "7":    $dim-gray-darker-7,
    "8":    $dim-gray-darker-8,
    "9":    $dim-gray-darker-9,
    "10":   $dim-gray-darker-10,
    "11":   $dim-gray-darker-11,
    "12":   $dim-gray-darker-12,
    "13":   $dim-gray-darker-13,
    "14":   $dim-gray-darker-14,
    "15":   $dim-gray-darker-15
);