@use "sass:selector";
@use "sass:string";

$indian-red-name:   string.quote("indian-red");



$indian-red: #CD5C5C;

$indian-red-50:     Lighter($indian-red, percentage(4.5, 5));
$indian-red-100:    Lighter($indian-red, percentage(4, 5));
$indian-red-200:    Lighter($indian-red, percentage(3, 5));
$indian-red-300:    Lighter($indian-red, percentage(2, 5));
$indian-red-400:    Lighter($indian-red, percentage(1, 5));
$indian-red-500:    var(selector.append($variable-prefix, $indian-red-name));
$indian-red-600:    Darker($indian-red, percentage(1, 5));
$indian-red-700:    Darker($indian-red, percentage(2, 5));
$indian-red-800:    Darker($indian-red, percentage(3, 5));
$indian-red-900:    Darker($indian-red, percentage(4, 5));
$indian-red-950:    Darker($indian-red, percentage(4.5, 5));



$indian-reds: (
    "50":   $indian-red-50,
    "100":  $indian-red-100,
    "200":  $indian-red-200,
    "300":  $indian-red-300,
    "400":  $indian-red-400,
    "500":  $indian-red-500,
    "600":  $indian-red-600,
    "700":  $indian-red-700,
    "800":  $indian-red-800,
    "900":  $indian-red-900,
    "950":  $indian-red-950
);