$deep-pink-darker-1:    Darker($deep-pink, $percentage-small-15);
$deep-pink-darker-2:    Darker($deep-pink, $percentage-small-14);
$deep-pink-darker-3:    Darker($deep-pink, $percentage-small-13);
$deep-pink-darker-4:    Darker($deep-pink, $percentage-small-12);
$deep-pink-darker-5:    Darker($deep-pink, $percentage-small-11);
$deep-pink-darker-6:    Darker($deep-pink, $percentage-small-10);
$deep-pink-darker-7:    Darker($deep-pink, $percentage-small-9);
$deep-pink-darker-8:    Darker($deep-pink, $percentage-small-8);
$deep-pink-darker-9:    Darker($deep-pink, $percentage-small-7);
$deep-pink-darker-10:   Darker($deep-pink, $percentage-small-6);
$deep-pink-darker-11:   Darker($deep-pink, $percentage-small-5);
$deep-pink-darker-12:   Darker($deep-pink, $percentage-small-4);
$deep-pink-darker-13:   Darker($deep-pink, $percentage-small-3);
$deep-pink-darker-14:   Darker($deep-pink, $percentage-small-2);
$deep-pink-darker-15:   Darker($deep-pink, $percentage-small-1);



$deep-pink-darkers: (
    "1":    $deep-pink-darker-1,
    "2":    $deep-pink-darker-2,
    "3":    $deep-pink-darker-3,
    "4":    $deep-pink-darker-4,
    "5":    $deep-pink-darker-5,
    "6":    $deep-pink-darker-6,
    "7":    $deep-pink-darker-7,
    "8":    $deep-pink-darker-8,
    "9":    $deep-pink-darker-9,
    "10":   $deep-pink-darker-10,
    "11":   $deep-pink-darker-11,
    "12":   $deep-pink-darker-12,
    "13":   $deep-pink-darker-13,
    "14":   $deep-pink-darker-14,
    "15":   $deep-pink-darker-15
);