@use "sass:selector";
@use "sass:string";

$dark-orange-name:  string.quote("dark-orange");



$dark-orange:   #FF8C00;

$dark-orange-50:    Lighter($dark-orange, percentage(4.5, 5));
$dark-orange-100:   Lighter($dark-orange, percentage(4, 5));
$dark-orange-200:   Lighter($dark-orange, percentage(3, 5));
$dark-orange-300:   Lighter($dark-orange, percentage(2, 5));
$dark-orange-400:   Lighter($dark-orange, percentage(1, 5));
$dark-orange-500:   var(selector.append($variable-prefix, $dark-orange-name));
$dark-orange-600:   Darker($dark-orange, percentage(1, 5));
$dark-orange-700:   Darker($dark-orange, percentage(2, 5));
$dark-orange-800:   Darker($dark-orange, percentage(3, 5));
$dark-orange-900:   Darker($dark-orange, percentage(4, 5));
$dark-orange-950:   Darker($dark-orange, percentage(4.5, 5));



$dark-oranges: (
    "50":   $dark-orange-50,
    "100":  $dark-orange-100,
    "200":  $dark-orange-200,
    "300":  $dark-orange-300,
    "400":  $dark-orange-400,
    "500":  $dark-orange-500,
    "600":  $dark-orange-600,
    "700":  $dark-orange-700,
    "800":  $dark-orange-800,
    "900":  $dark-orange-900,
    "950":  $dark-orange-950
);