$dark-violet-darker-1:  Darker($dark-violet, $percentage-small-15);
$dark-violet-darker-2:  Darker($dark-violet, $percentage-small-14);
$dark-violet-darker-3:  Darker($dark-violet, $percentage-small-13);
$dark-violet-darker-4:  Darker($dark-violet, $percentage-small-12);
$dark-violet-darker-5:  Darker($dark-violet, $percentage-small-11);
$dark-violet-darker-6:  Darker($dark-violet, $percentage-small-10);
$dark-violet-darker-7:  Darker($dark-violet, $percentage-small-9);
$dark-violet-darker-8:  Darker($dark-violet, $percentage-small-8);
$dark-violet-darker-9:  Darker($dark-violet, $percentage-small-7);
$dark-violet-darker-10: Darker($dark-violet, $percentage-small-6);
$dark-violet-darker-11: Darker($dark-violet, $percentage-small-5);
$dark-violet-darker-12: Darker($dark-violet, $percentage-small-4);
$dark-violet-darker-13: Darker($dark-violet, $percentage-small-3);
$dark-violet-darker-14: Darker($dark-violet, $percentage-small-2);
$dark-violet-darker-15: Darker($dark-violet, $percentage-small-1);



$dark-violet-darkers: (
    "1":    $dark-violet-darker-1,
    "2":    $dark-violet-darker-2,
    "3":    $dark-violet-darker-3,
    "4":    $dark-violet-darker-4,
    "5":    $dark-violet-darker-5,
    "6":    $dark-violet-darker-6,
    "7":    $dark-violet-darker-7,
    "8":    $dark-violet-darker-8,
    "9":    $dark-violet-darker-9,
    "10":   $dark-violet-darker-10,
    "11":   $dark-violet-darker-11,
    "12":   $dark-violet-darker-12,
    "13":   $dark-violet-darker-13,
    "14":   $dark-violet-darker-14,
    "15":   $dark-violet-darker-15
);