@use "sass:selector";
@use "sass:string";

$pale-turquoise-name:   string.quote("pale-turquoise");



$pale-turquoise:    #AFEEEE;

$pale-turquoise-50:     Lighter($pale-turquoise, percentage(4.5, 5));
$pale-turquoise-100:    Lighter($pale-turquoise, percentage(4, 5));
$pale-turquoise-200:    Lighter($pale-turquoise, percentage(3, 5));
$pale-turquoise-300:    Lighter($pale-turquoise, percentage(2, 5));
$pale-turquoise-400:    Lighter($pale-turquoise, percentage(1, 5));
$pale-turquoise-500:    var(selector.append($variable-prefix, $pale-turquoise-name));
$pale-turquoise-600:    Darker($pale-turquoise, percentage(1, 5));
$pale-turquoise-700:    Darker($pale-turquoise, percentage(2, 5));
$pale-turquoise-800:    Darker($pale-turquoise, percentage(3, 5));
$pale-turquoise-900:    Darker($pale-turquoise, percentage(4, 5));
$pale-turquoise-950:    Darker($pale-turquoise, percentage(4.5, 5));



$pale-turquoises: (
    "50":   $pale-turquoise-50,
    "100":  $pale-turquoise-100,
    "200":  $pale-turquoise-200,
    "300":  $pale-turquoise-300,
    "400":  $pale-turquoise-400,
    "500":  $pale-turquoise-500,
    "600":  $pale-turquoise-600,
    "700":  $pale-turquoise-700,
    "800":  $pale-turquoise-800,
    "900":  $pale-turquoise-900,
    "950":  $pale-turquoise-950
);