$light-blue-lighter-1:  Lighter($light-blue, $percentage-small-15);
$light-blue-lighter-2:  Lighter($light-blue, $percentage-small-14);
$light-blue-lighter-3:  Lighter($light-blue, $percentage-small-13);
$light-blue-lighter-4:  Lighter($light-blue, $percentage-small-12);
$light-blue-lighter-5:  Lighter($light-blue, $percentage-small-11);
$light-blue-lighter-6:  Lighter($light-blue, $percentage-small-10);
$light-blue-lighter-7:  Lighter($light-blue, $percentage-small-9);
$light-blue-lighter-8:  Lighter($light-blue, $percentage-small-8);
$light-blue-lighter-9:  Lighter($light-blue, $percentage-small-7);
$light-blue-lighter-10: Lighter($light-blue, $percentage-small-6);
$light-blue-lighter-11: Lighter($light-blue, $percentage-small-5);
$light-blue-lighter-12: Lighter($light-blue, $percentage-small-4);
$light-blue-lighter-13: Lighter($light-blue, $percentage-small-3);
$light-blue-lighter-14: Lighter($light-blue, $percentage-small-2);
$light-blue-lighter-15: Lighter($light-blue, $percentage-small-1);



$light-blue-lighters: (
    "1":    $light-blue-lighter-1,
    "2":    $light-blue-lighter-2,
    "3":    $light-blue-lighter-3,
    "4":    $light-blue-lighter-4,
    "5":    $light-blue-lighter-5,
    "6":    $light-blue-lighter-6,
    "7":    $light-blue-lighter-7,
    "8":    $light-blue-lighter-8,
    "9":    $light-blue-lighter-9,
    "10":   $light-blue-lighter-10,
    "11":   $light-blue-lighter-11,
    "12":   $light-blue-lighter-12,
    "13":   $light-blue-lighter-13,
    "14":   $light-blue-lighter-14,
    "15":   $light-blue-lighter-15
);