@use "sass:selector";
@use "sass:string";

$olive-drab-name: string.quote("olive-drab");



$olive-drab:    #6B8E23;

$olive-drab-50:     Lighter($olive-drab, percentage(4.5, 5));
$olive-drab-100:    Lighter($olive-drab, percentage(4, 5));
$olive-drab-200:    Lighter($olive-drab, percentage(3, 5));
$olive-drab-300:    Lighter($olive-drab, percentage(2, 5));
$olive-drab-400:    Lighter($olive-drab, percentage(1, 5));
$olive-drab-500:    var(selector.append($variable-prefix, $olive-drab-name));
$olive-drab-600:    Darker($olive-drab, percentage(1, 5));
$olive-drab-700:    Darker($olive-drab, percentage(2, 5));
$olive-drab-800:    Darker($olive-drab, percentage(3, 5));
$olive-drab-900:    Darker($olive-drab, percentage(4, 5));
$olive-drab-950:    Darker($olive-drab, percentage(4.5, 5));



$olive-drabs: (
    "50":   $olive-drab-50,
    "100":  $olive-drab-100,
    "200":  $olive-drab-200,
    "300":  $olive-drab-300,
    "400":  $olive-drab-400,
    "500":  $olive-drab-500,
    "600":  $olive-drab-600,
    "700":  $olive-drab-700,
    "800":  $olive-drab-800,
    "900":  $olive-drab-900,
    "950":  $olive-drab-950
);