@use "sass:selector";
@use "sass:string";

$olive-name:    string.quote("olive");



$olive: #808000;

$olive-50:  Lighter($olive, percentage(4.5, 5));
$olive-100: Lighter($olive, percentage(4, 5));
$olive-200: Lighter($olive, percentage(3, 5));
$olive-300: Lighter($olive, percentage(2, 5));
$olive-400: Lighter($olive, percentage(1, 5));
$olive-500: var(selector.append($variable-prefix, $olive-name));
$olive-600: Darker($olive, percentage(1, 5));
$olive-700: Darker($olive, percentage(2, 5));
$olive-800: Darker($olive, percentage(3, 5));
$olive-900: Darker($olive, percentage(4, 5));
$olive-950: Darker($olive, percentage(4.5, 5));



$olives: (
    "50":   $olive-50,
    "100":  $olive-100,
    "200":  $olive-200,
    "300":  $olive-300,
    "400":  $olive-400,
    "500":  $olive-500,
    "600":  $olive-600,
    "700":  $olive-700,
    "800":  $olive-800,
    "900":  $olive-900,
    "950":  $olive-950
);