@use "sass:selector";
@use "sass:string";

$dark-gray-name: string.quote("dark-gray");



$dark-gray: #A9A9A9;

$dark-gray-50:  Lighter($dark-gray, percentage(4.5, 5));
$dark-gray-100: Lighter($dark-gray, percentage(4, 5));
$dark-gray-200: Lighter($dark-gray, percentage(3, 5));
$dark-gray-300: Lighter($dark-gray, percentage(2, 5));
$dark-gray-400: Lighter($dark-gray, percentage(1, 5));
$dark-gray-500: var(selector.append($variable-prefix, $dark-gray-name));
$dark-gray-600: Darker($dark-gray, percentage(1, 5));
$dark-gray-700: Darker($dark-gray, percentage(2, 5));
$dark-gray-800: Darker($dark-gray, percentage(3, 5));
$dark-gray-900: Darker($dark-gray, percentage(4, 5));
$dark-gray-950: Darker($dark-gray, percentage(4.5, 5));



$dark-grays: (
    "50":   $dark-gray-50,
    "100":  $dark-gray-100,
    "200":  $dark-gray-200,
    "300":  $dark-gray-300,
    "400":  $dark-gray-400,
    "500":  $dark-gray-500,
    "600":  $dark-gray-600,
    "700":  $dark-gray-700,
    "800":  $dark-gray-800,
    "900":  $dark-gray-900,
    "950":  $dark-gray-950
);