$rosy-brown-lighter-1:  Lighter($rosy-brown, $percentage-small-15);
$rosy-brown-lighter-2:  Lighter($rosy-brown, $percentage-small-14);
$rosy-brown-lighter-3:  Lighter($rosy-brown, $percentage-small-13);
$rosy-brown-lighter-4:  Lighter($rosy-brown, $percentage-small-12);
$rosy-brown-lighter-5:  Lighter($rosy-brown, $percentage-small-11);
$rosy-brown-lighter-6:  Lighter($rosy-brown, $percentage-small-10);
$rosy-brown-lighter-7:  Lighter($rosy-brown, $percentage-small-9);
$rosy-brown-lighter-8:  Lighter($rosy-brown, $percentage-small-8);
$rosy-brown-lighter-9:  Lighter($rosy-brown, $percentage-small-7);
$rosy-brown-lighter-10: Lighter($rosy-brown, $percentage-small-6);
$rosy-brown-lighter-11: Lighter($rosy-brown, $percentage-small-5);
$rosy-brown-lighter-12: Lighter($rosy-brown, $percentage-small-4);
$rosy-brown-lighter-13: Lighter($rosy-brown, $percentage-small-3);
$rosy-brown-lighter-14: Lighter($rosy-brown, $percentage-small-2);
$rosy-brown-lighter-15: Lighter($rosy-brown, $percentage-small-1);



$rosy-brown-lighters: (
    "1":    $rosy-brown-lighter-1,
    "2":    $rosy-brown-lighter-2,
    "3":    $rosy-brown-lighter-3,
    "4":    $rosy-brown-lighter-4,
    "5":    $rosy-brown-lighter-5,
    "6":    $rosy-brown-lighter-6,
    "7":    $rosy-brown-lighter-7,
    "8":    $rosy-brown-lighter-8,
    "9":    $rosy-brown-lighter-9,
    "10":   $rosy-brown-lighter-10,
    "11":   $rosy-brown-lighter-11,
    "12":   $rosy-brown-lighter-12,
    "13":   $rosy-brown-lighter-13,
    "14":   $rosy-brown-lighter-14,
    "15":   $rosy-brown-lighter-15
);