$darker: (
    $red-name: (
        $red-darkers
    ),
    $dark-red-name: (
        $dark-red-darkers
    ),
    $highway-red-name: (
        $highway-red-darkers
    ),
    $indian-red-name: (
        $indian-red-darkers
    ),
    $safety-red-name: (
        $safety-red-darkers
    ),

    $coral-name: (
        $coral-darkers
    ),
    $light-coral-name: (
        $light-coral-darkers
    ),
    
    $salmon-name: (
        $salmon-darkers
    ),
    $dark-salmon-name: (
        $dark-salmon-darkers
    ),
    $light-salmon-name: (
        $light-salmon-darkers
    ),
    
    $pink-name: (
        $pink-darkers
    ),
    $deep-pink-name: (
        $deep-pink-darkers
    ),
    $hot-pink-name: (
        $hot-pink-darkers
    ),
    $light-pink-name: (
        $light-pink-darkers
    ),
    
    $violet-name: (
        $violet-darkers
    ),
    $blue-violet-name: (
        $blue-violet-darkers
    ),
    $dark-violet-name: (
        $dark-violet-darkers
    ),
    $medium-violet-red-name: (
        $medium-violet-red-darkers
    ),
    $pale-violet-red-name: (
        $pale-violet-red-darkers
    ),
    
    $orchid-name: (
        $orchid-darkers
    ),
    $dark-orchid-name: (
        $dark-orchid-darkers
    ),
    $medium-orchid-name: (
        $medium-orchid-darkers
    ),
    
    $magenta-name: (
        $magenta-darkers
    ),
    $dark-magenta-name: (
        $dark-magenta-darkers
    ),
    
    $purple-name: (
        $purple-darkers
    ),
    $medium-purple-name: (
        $medium-purple-darkers
    ),
    $safety-purple-name: (
        $safety-purple-darkers
    ),

    $indigo-name: (
        $indigo-darkers
    ),
    
    $blue-name: (
        $blue-darkers
    ),
    $alice-blue-name: (
        $alice-blue-darkers
    ),
    $cadet-blue-name: (
        $cadet-blue-darkers
    ),
    $cornflower-blue-name: (
        $cornflower-blue-darkers
    ),
    $dark-blue-name: (
        $dark-blue-darkers
    ),
    $dodger-blue-name: (
        $dodger-blue-darkers
    ),
    $highway-blue-name: (
        $highway-blue-darkers
    ),
    $light-blue-name: (
        $light-blue-darkers
    ),
    $medium-blue-name: (
        $medium-blue-darkers
    ),
    $midnight-blue-name: (
        $midnight-blue-darkers
    ),
    $powder-blue-name: (
        $powder-blue-darkers
    ),
    $royal-blue-name: (
        $royal-blue-darkers
    ),
    $safety-blue-name: (
        $safety-blue-darkers
    ),
    $sky-blue-name: (
        $sky-blue-darkers
    ),
    $deep-sky-blue-name: (
        $deep-sky-blue-darkers
    ),
    $light-sky-blue-name: (
        $light-sky-blue-darkers
    ),
    $slate-blue-name: (
        $slate-blue-darkers
    ),
    $dark-slate-blue-name: (
        $dark-slate-blue-darkers
    ),
    $medium-slate-blue-name: (
        $medium-slate-blue-darkers
    ),
    $steel-blue-name: (
        $steel-blue-darkers
    ),
    $light-steel-blue-name: (
        $light-steel-blue-darkers
    ),
    
    $aqua-name: (
        $aqua-darkers
    ),
    
    $cyan-name: (
        $cyan-darkers
    ),
    $dark-cyan-name: (
        $dark-cyan-darkers
    ),
    $light-cyan-name: (
        $light-cyan-darkers
    ),

    $aquamarine-name: (
        $aquamarine-darkers
    ),
    $medium-aquamarine-name: (
        $medium-aquamarine-darkers
    ),
    
    $turquoise-name: (
        $turquoise-darkers
    ),
    $dark-turquoise-name: (
        $dark-turquoise-darkers
    ),
    $medium-turquoise-name: (
        $medium-turquoise-darkers
    ),
    $pale-turquoise-name: (
        $pale-turquoise-darkers
    ),
    
    $teal-name: (
        $teal-darkers
    ),

    $green-name: (
        $green-darkers
    ),
    $dark-green-name: (
        $dark-green-darkers
    ),
    $forest-green-name: (
        $forest-green-darkers
    ),
    $highway-green-name: (
        $highway-green-darkers
    ),
    $lawn-green-name: (
        $lawn-green-darkers
    ),
    $light-green-name: (
        $light-green-darkers
    ),
    $dark-olive-green-name: (
        $dark-olive-green-darkers
    ),
    $pale-green-name: (
        $pale-green-darkers
    ),
    $safety-green-name: (
        $safety-green-darkers
    ),
    $sea-green-name: (
        $sea-green-darkers
    ),
    $dark-sea-green-name: (
        $dark-sea-green-darkers
    ),
    $light-sea-green-name: (
        $light-sea-green-darkers
    ),
    $medium-sea-green-name: (
        $medium-sea-green-darkers
    ),
    $spring-green-name: (
        $spring-green-darkers
    ),
    $medium-spring-green-name: (
        $medium-spring-green-darkers
    ),
    
    $olive-name: (
        $olive-darkers
    ),
    $olive-drab-name: (
        $olive-drab-darkers
    ),

    $lime-name: (
        $lime-darkers
    ),
    $lime-green-name: (
        $lime-green-darkers
    ),

    $gold-name: (
        $gold-darkers
    ),
    
    $khaki-name: (
        $khaki-darkers
    ),
    $dark-khaki-name: (
        $dark-khaki-darkers
    ),

    $amber-name: (
        $amber-darkers
    ),
    
    
    $goldenrod-name: (
        $goldenrod-darkers
    ),
    $dark-goldenrod-name: (
        $dark-goldenrod-darkers
    ),
    $pale-goldenrod-name: (
        $pale-goldenrod-darkers
    ),
    
    $orange-name: (
        $orange-darkers
    ),
    $dark-orange-name: (
        $dark-orange-darkers
    ),
    $highway-orange-name: (
        $highway-orange-darkers
    ),
    $orange-red-name: (
        $orange-red-darkers
    ),
    $safety-orange-name: (
        $safety-orange-darkers
    ),

    $brown-name: (
        $brown-darkers
    ),
    $highway-brown-name: (
        $highway-brown-darkers
    ),
    $rosy-brown-name: (
        $rosy-brown-darkers
    ),
    $saddle-brown-name: (
        $saddle-brown-darkers
    ),
    $sandy-brown-name: (
        $sandy-brown-darkers
    ),

    $gray-name: (
        $gray-darkers
    ),
    $dark-gray-name: (
        $dark-gray-darkers
    ),
    $dim-gray-name: (
        $dim-gray-darkers
    ),
    $light-gray-name: (
        $light-gray-darkers
    ),
    $slate-gray-name: (
        $slate-gray-darkers
    ),
    $dark-slate-gray-name: (
        $dark-slate-gray-darkers
    ),
    $light-slate-gray-name: (
        $light-slate-gray-darkers
    ),

    $antique-white-name: (
        $antique-white-darkers
    )
);