$lighter: (
    $coral-name: (
        $coral-lighters
    ),
    $light-coral-name: (
        $light-coral-lighters
    ),
    
    $magenta-name: (
        $magenta-lighters
    ),
    $dark-magenta-name: (
        $dark-magenta-lighters
    ),
    
    $indigo-name: (
        $indigo-lighters
    ),
    
    $blue-name: (
        $blue-lighters
    ),
    $alice-blue-name: (
        $alice-blue-lighters
    ),
    $cadet-blue-name: (
        $cadet-blue-lighters
    ),
    $cornflower-blue-name: (
        $cornflower-blue-lighters
    ),
    $dark-blue-name: (
        $dark-blue-lighters
    ),
    $dodger-blue-name: (
        $dodger-blue-lighters
    ),
    $highway-blue-name: (
        $highway-blue-lighters
    ),
    $light-blue-name: (
        $light-blue-lighters
    ),
    $medium-blue-name: (
        $medium-blue-lighters
    ),
    $midnight-blue-name: (
        $midnight-blue-lighters
    ),
    $powder-blue-name: (
        $powder-blue-lighters
    ),
    $royal-blue-name: (
        $royal-blue-lighters
    ),
    $safety-blue-name: (
        $safety-blue-lighters
    ),
    $sky-blue-name: (
        $sky-blue-lighters
    ),
    $deep-sky-blue-name: (
        $deep-sky-blue-lighters
    ),
    $light-sky-blue-name: (
        $light-sky-blue-lighters
    ),
    $slate-blue-name: (
        $slate-blue-lighters
    ),
    $dark-slate-blue-name: (
        $dark-slate-blue-lighters
    ),
    $medium-slate-blue-name: (
        $medium-slate-blue-lighters
    ),
    $steel-blue-name: (
        $steel-blue-lighters
    ),
    $light-steel-blue-name: (
        $light-steel-blue-lighters
    ),
    
    $aqua-name: (
        $aqua-lighters
    ),
    
    $cyan-name: (
        $cyan-lighters
    ),
    $dark-cyan-name: (
        $dark-cyan-lighters
    ),
    $light-cyan-name: (
        $light-cyan-lighters
    ),

    $aquamarine-name: (
        $aquamarine-lighters
    ),
    $medium-aquamarine-name: (
        $medium-aquamarine-lighters
    ),

    $green-name: (
        $green-lighters
    ),
    $dark-green-name: (
        $dark-green-lighters
    ),
    $forest-green-name: (
        $forest-green-lighters
    ),
    $highway-green-name: (
        $highway-green-lighters
    ),
    $lawn-green-name: (
        $lawn-green-lighters
    ),
    $light-green-name: (
        $light-green-lighters
    ),
    $dark-olive-green-name: (
        $dark-olive-green-lighters
    ),
    $pale-green-name: (
        $pale-green-lighters
    ),
    $safety-green-name: (
        $safety-green-lighters
    ),
    $sea-green-name: (
        $sea-green-lighters
    ),
    $dark-sea-green-name: (
        $dark-sea-green-lighters
    ),
    $light-sea-green-name: (
        $light-sea-green-lighters
    ),
    $medium-sea-green-name: (
        $medium-sea-green-lighters
    ),
    $spring-green-name: (
        $spring-green-lighters
    ),
    $medium-spring-green-name: (
        $medium-spring-green-lighters
    ),
    
    $olive-name: (
        $olive-lighters
    ),
    $olive-drab-name: (
        $olive-drab-lighters
    ),

    $lime-name: (
        $lime-lighters
    ),
    $lime-green-name: (
        $lime-green-lighters
    ),

    $gold-name: (
        $gold-lighters
    ),
    
    $khaki-name: (
        $khaki-lighters
    ),
    $dark-khaki-name: (
        $dark-khaki-lighters
    ),

    $amber-name: (
        $amber-lighters
    ),
    
    $goldenrod-name: (
        $goldenrod-lighters
    ),
    $dark-goldenrod-name: (
        $dark-goldenrod-lighters
    ),
    $pale-goldenrod-name: (
        $pale-goldenrod-lighters
    ),
    
    $orange-name: (
        $orange-lighters
    ),
    $dark-orange-name: (
        $dark-orange-lighters
    ),
    $highway-orange-name: (
        $highway-orange-lighters
    ),
    $orange-red-name: (
        $orange-red-lighters
    ),

    $brown-name: (
        $brown-lighters
    ),
    $highway-brown-name: (
        $highway-brown-lighters
    ),
    $rosy-brown-name: (
        $rosy-brown-lighters
    ),
    $saddle-brown-name: (
        $saddle-brown-lighters
    ),
    $sandy-brown-name: (
        $sandy-brown-lighters
    ),

    $gray-name: (
        $gray-lighters
    ),
    $dark-gray-name: (
        $dark-gray-lighters
    ),
    $dim-gray-name: (
        $dim-gray-lighters
    ),
    $light-gray-name: (
        $light-gray-lighters
    ),
    $slate-gray-name: (
        $slate-gray-lighters
    ),
    $dark-slate-gray-name: (
        $dark-slate-gray-lighters
    ),
    $light-slate-gray-name: (
        $light-slate-gray-lighters
    )
);