$indian-red-darker-1:   Darker($indian-red, $percentage-small-15);
$indian-red-darker-2:   Darker($indian-red, $percentage-small-14);
$indian-red-darker-3:   Darker($indian-red, $percentage-small-13);
$indian-red-darker-4:   Darker($indian-red, $percentage-small-12);
$indian-red-darker-5:   Darker($indian-red, $percentage-small-11);
$indian-red-darker-6:   Darker($indian-red, $percentage-small-10);
$indian-red-darker-7:   Darker($indian-red, $percentage-small-9);
$indian-red-darker-8:   Darker($indian-red, $percentage-small-8);
$indian-red-darker-9:   Darker($indian-red, $percentage-small-7);
$indian-red-darker-10:  Darker($indian-red, $percentage-small-6);
$indian-red-darker-11:  Darker($indian-red, $percentage-small-5);
$indian-red-darker-12:  Darker($indian-red, $percentage-small-4);
$indian-red-darker-13:  Darker($indian-red, $percentage-small-3);
$indian-red-darker-14:  Darker($indian-red, $percentage-small-2);
$indian-red-darker-15:  Darker($indian-red, $percentage-small-1);



$indian-red-darkers: (
    "1":    $indian-red-darker-1,
    "2":    $indian-red-darker-2,
    "3":    $indian-red-darker-3,
    "4":    $indian-red-darker-4,
    "5":    $indian-red-darker-5,
    "6":    $indian-red-darker-6,
    "7":    $indian-red-darker-7,
    "8":    $indian-red-darker-8,
    "9":    $indian-red-darker-9,
    "10":   $indian-red-darker-10,
    "11":   $indian-red-darker-11,
    "12":   $indian-red-darker-12,
    "13":   $indian-red-darker-13,
    "14":   $indian-red-darker-14,
    "15":   $indian-red-darker-15
);