$alice-blue-lighter-1:  Lighter($alice-blue, $percentage-small-15);
$alice-blue-lighter-2:  Lighter($alice-blue, $percentage-small-14);
$alice-blue-lighter-3:  Lighter($alice-blue, $percentage-small-13);
$alice-blue-lighter-4:  Lighter($alice-blue, $percentage-small-12);
$alice-blue-lighter-5:  Lighter($alice-blue, $percentage-small-11);
$alice-blue-lighter-6:  Lighter($alice-blue, $percentage-small-10);
$alice-blue-lighter-7:  Lighter($alice-blue, $percentage-small-9);
$alice-blue-lighter-8:  Lighter($alice-blue, $percentage-small-8);
$alice-blue-lighter-9:  Lighter($alice-blue, $percentage-small-7);
$alice-blue-lighter-10: Lighter($alice-blue, $percentage-small-6);
$alice-blue-lighter-11: Lighter($alice-blue, $percentage-small-5);
$alice-blue-lighter-12: Lighter($alice-blue, $percentage-small-4);
$alice-blue-lighter-13: Lighter($alice-blue, $percentage-small-3);
$alice-blue-lighter-14: Lighter($alice-blue, $percentage-small-2);
$alice-blue-lighter-15: Lighter($alice-blue, $percentage-small-1);



$alice-blue-lighters: (
    "1":    $alice-blue-lighter-1,
    "2":    $alice-blue-lighter-2,
    "3":    $alice-blue-lighter-3,
    "4":    $alice-blue-lighter-4,
    "5":    $alice-blue-lighter-5,
    "6":    $alice-blue-lighter-6,
    "7":    $alice-blue-lighter-7,
    "8":    $alice-blue-lighter-8,
    "9":    $alice-blue-lighter-9,
    "10":   $alice-blue-lighter-10,
    "11":   $alice-blue-lighter-11,
    "12":   $alice-blue-lighter-12,
    "13":   $alice-blue-lighter-13,
    "14":   $alice-blue-lighter-14,
    "15":   $alice-blue-lighter-15
);