@use "sass:selector";
@use "sass:string";

$safety-purple-name:    string.quote("safety-purple");



$safety-purple: #964f8e;

$safety-purple-50:  Lighter($safety-purple, percentage(4.5, 5));
$safety-purple-100: Lighter($safety-purple, percentage(4, 5));
$safety-purple-200: Lighter($safety-purple, percentage(3, 5));
$safety-purple-300: Lighter($safety-purple, percentage(2, 5));
$safety-purple-400: Lighter($safety-purple, percentage(1, 5));
$safety-purple-500: var(selector.append($variable-prefix, $safety-purple-name));
$safety-purple-600: Darker($safety-purple, percentage(1, 5));
$safety-purple-700: Darker($safety-purple, percentage(2, 5));
$safety-purple-800: Darker($safety-purple, percentage(3, 5));
$safety-purple-900: Darker($safety-purple, percentage(4, 5));
$safety-purple-950: Darker($safety-purple, percentage(4.5, 5));



$safety-purples: (
    "50":   $safety-purple-50,
    "100":  $safety-purple-100,
    "200":  $safety-purple-200,
    "300":  $safety-purple-300,
    "400":  $safety-purple-400,
    "500":  $safety-purple-500,
    "600":  $safety-purple-600,
    "700":  $safety-purple-700,
    "800":  $safety-purple-800,
    "900":  $safety-purple-900,
    "950":  $safety-purple-950
);