@use "sass:selector";
@use "sass:string";

$lime-green-name:   string.quote("lime-green");



$lime-green: #32CD32;

$lime-green-50:     Lighter($lime-green, percentage(4.5, 5));
$lime-green-100:    Lighter($lime-green, percentage(4, 5));
$lime-green-200:    Lighter($lime-green, percentage(3, 5));
$lime-green-300:    Lighter($lime-green, percentage(2, 5));
$lime-green-400:    Lighter($lime-green, percentage(1, 5));
$lime-green-500:    var(selector.append($variable-prefix, $lime-green-name));
$lime-green-600:    Darker($lime-green, percentage(1, 5));
$lime-green-700:    Darker($lime-green, percentage(2, 5));
$lime-green-800:    Darker($lime-green, percentage(3, 5));
$lime-green-900:    Darker($lime-green, percentage(4, 5));
$lime-green-950:    Darker($lime-green, percentage(4.5, 5));



$lime-greens: (
    "50":   $lime-green-50,
    "100":  $lime-green-100,
    "200":  $lime-green-200,
    "300":  $lime-green-300,
    "400":  $lime-green-400,
    "500":  $lime-green-500,
    "600":  $lime-green-600,
    "700":  $lime-green-700,
    "800":  $lime-green-800,
    "900":  $lime-green-900,
    "950":  $lime-green-950
);