$coral-lighter-1:   Lighter($coral, $percentage-small-15);
$coral-lighter-2:   Lighter($coral, $percentage-small-14);
$coral-lighter-3:   Lighter($coral, $percentage-small-13);
$coral-lighter-4:   Lighter($coral, $percentage-small-12);
$coral-lighter-5:   Lighter($coral, $percentage-small-11);
$coral-lighter-6:   Lighter($coral, $percentage-small-10);
$coral-lighter-7:   Lighter($coral, $percentage-small-9);
$coral-lighter-8:   Lighter($coral, $percentage-small-8);
$coral-lighter-9:   Lighter($coral, $percentage-small-7);
$coral-lighter-10:  Lighter($coral, $percentage-small-6);
$coral-lighter-11:  Lighter($coral, $percentage-small-5);
$coral-lighter-12:  Lighter($coral, $percentage-small-4);
$coral-lighter-13:  Lighter($coral, $percentage-small-3);
$coral-lighter-14:  Lighter($coral, $percentage-small-2);
$coral-lighter-15:  Lighter($coral, $percentage-small-1);



$coral-lighters: (
    "1":    $coral-lighter-1,
    "2":    $coral-lighter-2,
    "3":    $coral-lighter-3,
    "4":    $coral-lighter-4,
    "5":    $coral-lighter-5,
    "6":    $coral-lighter-6,
    "7":    $coral-lighter-7,
    "8":    $coral-lighter-8,
    "9":    $coral-lighter-9,
    "10":   $coral-lighter-10,
    "11":   $coral-lighter-11,
    "12":   $coral-lighter-12,
    "13":   $coral-lighter-13,
    "14":   $coral-lighter-14,
    "15":   $coral-lighter-15
);