$highway-blue-lighter-1:    Lighter($highway-blue, percentage(1, 16));
$highway-blue-lighter-2:    Lighter($highway-blue, percentage(2, 16));
$highway-blue-lighter-3:    Lighter($highway-blue, percentage(3, 16));
$highway-blue-lighter-4:    Lighter($highway-blue, percentage(4, 16));
$highway-blue-lighter-5:    Lighter($highway-blue, percentage(5, 16));
$highway-blue-lighter-6:    Lighter($highway-blue, percentage(6, 16));
$highway-blue-lighter-7:    Lighter($highway-blue, percentage(7, 16));
$highway-blue-lighter-8:    Lighter($highway-blue, percentage(8, 16));
$highway-blue-lighter-9:    Lighter($highway-blue, percentage(9, 16));
$highway-blue-lighter-10:   Lighter($highway-blue, percentage(10, 16));
$highway-blue-lighter-11:   Lighter($highway-blue, percentage(11, 16));
$highway-blue-lighter-12:   Lighter($highway-blue, percentage(12, 16));
$highway-blue-lighter-13:   Lighter($highway-blue, percentage(13, 16));
$highway-blue-lighter-14:   Lighter($highway-blue, percentage(14, 16));
$highway-blue-lighter-15:   Lighter($highway-blue, percentage(15, 16));



$highway-blue-lighters: (
    "1":    $highway-blue-lighter-1,
    "2":    $highway-blue-lighter-2,
    "3":    $highway-blue-lighter-3,
    "4":    $highway-blue-lighter-4,
    "5":    $highway-blue-lighter-5,
    "6":    $highway-blue-lighter-6,
    "7":    $highway-blue-lighter-7,
    "8":    $highway-blue-lighter-8,
    "9":    $highway-blue-lighter-9,
    "10":   $highway-blue-lighter-10,
    "11":   $highway-blue-lighter-11,
    "12":   $highway-blue-lighter-12,
    "13":   $highway-blue-lighter-13,
    "14":   $highway-blue-lighter-14,
    "15":   $highway-blue-lighter-15
);