$highway-blue-lighter-1:    Lighter($highway-blue, $percentage-small-15);
$highway-blue-lighter-2:    Lighter($highway-blue, $percentage-small-14);
$highway-blue-lighter-3:    Lighter($highway-blue, $percentage-small-13);
$highway-blue-lighter-4:    Lighter($highway-blue, $percentage-small-12);
$highway-blue-lighter-5:    Lighter($highway-blue, $percentage-small-11);
$highway-blue-lighter-6:    Lighter($highway-blue, $percentage-small-10);
$highway-blue-lighter-7:    Lighter($highway-blue, $percentage-small-9);
$highway-blue-lighter-8:    Lighter($highway-blue, $percentage-small-8);
$highway-blue-lighter-9:    Lighter($highway-blue, $percentage-small-7);
$highway-blue-lighter-10:   Lighter($highway-blue, $percentage-small-6);
$highway-blue-lighter-11:   Lighter($highway-blue, $percentage-small-5);
$highway-blue-lighter-12:   Lighter($highway-blue, $percentage-small-4);
$highway-blue-lighter-13:   Lighter($highway-blue, $percentage-small-3);
$highway-blue-lighter-14:   Lighter($highway-blue, $percentage-small-2);
$highway-blue-lighter-15:   Lighter($highway-blue, $percentage-small-1);



$highway-blue-lighters: (
    "1":    $highway-blue-lighter-1,
    "2":    $highway-blue-lighter-2,
    "3":    $highway-blue-lighter-3,
    "4":    $highway-blue-lighter-4,
    "5":    $highway-blue-lighter-5,
    "6":    $highway-blue-lighter-6,
    "7":    $highway-blue-lighter-7,
    "8":    $highway-blue-lighter-8,
    "9":    $highway-blue-lighter-9,
    "10":   $highway-blue-lighter-10,
    "11":   $highway-blue-lighter-11,
    "12":   $highway-blue-lighter-12,
    "13":   $highway-blue-lighter-13,
    "14":   $highway-blue-lighter-14,
    "15":   $highway-blue-lighter-15
);