@use "sass:selector";
@use "sass:string";

$dark-slate-gray-name:  string.quote("dark-slate-gray");



$dark-slate-gray:   #2F4F4F;

$dark-slate-gray-50:    Lighter($dark-slate-gray, percentage(4.5, 5));
$dark-slate-gray-100:   Lighter($dark-slate-gray, percentage(4, 5));
$dark-slate-gray-200:   Lighter($dark-slate-gray, percentage(3, 5));
$dark-slate-gray-300:   Lighter($dark-slate-gray, percentage(2, 5));
$dark-slate-gray-400:   Lighter($dark-slate-gray, percentage(1, 5));
$dark-slate-gray-500:   var(selector.append($variable-prefix, $dark-slate-gray-name));
$dark-slate-gray-600:   Darker($dark-slate-gray, percentage(1, 5));
$dark-slate-gray-700:   Darker($dark-slate-gray, percentage(2, 5));
$dark-slate-gray-800:   Darker($dark-slate-gray, percentage(3, 5));
$dark-slate-gray-900:   Darker($dark-slate-gray, percentage(4, 5));
$dark-slate-gray-950:   Darker($dark-slate-gray, percentage(4.5, 5));



$dark-slate-grays: (
    "50":   $dark-slate-gray-50,
    "100":  $dark-slate-gray-100,
    "200":  $dark-slate-gray-200,
    "300":  $dark-slate-gray-300,
    "400":  $dark-slate-gray-400,
    "500":  $dark-slate-gray-500,
    "600":  $dark-slate-gray-600,
    "700":  $dark-slate-gray-700,
    "800":  $dark-slate-gray-800,
    "900":  $dark-slate-gray-900,
    "950":  $dark-slate-gray-950
);