$light-steel-blue-lighter-1:    Lighter($light-steel-blue, $percentage-small-15);
$light-steel-blue-lighter-2:    Lighter($light-steel-blue, $percentage-small-14);
$light-steel-blue-lighter-3:    Lighter($light-steel-blue, $percentage-small-13);
$light-steel-blue-lighter-4:    Lighter($light-steel-blue, $percentage-small-12);
$light-steel-blue-lighter-5:    Lighter($light-steel-blue, $percentage-small-11);
$light-steel-blue-lighter-6:    Lighter($light-steel-blue, $percentage-small-10);
$light-steel-blue-lighter-7:    Lighter($light-steel-blue, $percentage-small-9);
$light-steel-blue-lighter-8:    Lighter($light-steel-blue, $percentage-small-8);
$light-steel-blue-lighter-9:    Lighter($light-steel-blue, $percentage-small-7);
$light-steel-blue-lighter-10:   Lighter($light-steel-blue, $percentage-small-6);
$light-steel-blue-lighter-11:   Lighter($light-steel-blue, $percentage-small-5);
$light-steel-blue-lighter-12:   Lighter($light-steel-blue, $percentage-small-4);
$light-steel-blue-lighter-13:   Lighter($light-steel-blue, $percentage-small-3);
$light-steel-blue-lighter-14:   Lighter($light-steel-blue, $percentage-small-2);
$light-steel-blue-lighter-15:   Lighter($light-steel-blue, $percentage-small-1);



$light-steel-blue-lighters: (
    "1":    $light-steel-blue-lighter-1,
    "2":    $light-steel-blue-lighter-2,
    "3":    $light-steel-blue-lighter-3,
    "4":    $light-steel-blue-lighter-4,
    "5":    $light-steel-blue-lighter-5,
    "6":    $light-steel-blue-lighter-6,
    "7":    $light-steel-blue-lighter-7,
    "8":    $light-steel-blue-lighter-8,
    "9":    $light-steel-blue-lighter-9,
    "10":   $light-steel-blue-lighter-10,
    "11":   $light-steel-blue-lighter-11,
    "12":   $light-steel-blue-lighter-12,
    "13":   $light-steel-blue-lighter-13,
    "14":   $light-steel-blue-lighter-14,
    "15":   $light-steel-blue-lighter-15
);