@use "sass:selector";
@use "sass:string";

$highway-red-name:  string.quote("highway-red");



$highway-red:   #a6001a;

$highway-red-50:    Lighter($highway-red, percentage(4.5, 5));
$highway-red-100:   Lighter($highway-red, percentage(4, 5));
$highway-red-200:   Lighter($highway-red, percentage(3, 5));
$highway-red-300:   Lighter($highway-red, percentage(2, 5));
$highway-red-400:   Lighter($highway-red, percentage(1, 5));
$highway-red-500:   var(selector.append($variable-prefix, $highway-red-name));
$highway-red-600:   Darker($highway-red, percentage(1, 5));
$highway-red-700:   Darker($highway-red, percentage(2, 5));
$highway-red-800:   Darker($highway-red, percentage(3, 5));
$highway-red-900:   Darker($highway-red, percentage(4, 5));
$highway-red-950:   Darker($highway-red, percentage(4.5, 5));



$red-highways: (
    "50":   $highway-red-50,
    "100":  $highway-red-100,
    "200":  $highway-red-200,
    "300":  $highway-red-300,
    "400":  $highway-red-400,
    "500":  $highway-red-500,
    "600":  $highway-red-600,
    "700":  $highway-red-700,
    "800":  $highway-red-800,
    "900":  $highway-red-900,
    "950":  $highway-red-950
);