@use "sass:selector";
@use "sass:string";

$red-name: string.quote("red");



$red: #FF0000;

$red-50:    Lighter($red, percentage(4.5, 5));
$red-100:   Lighter($red, percentage(4, 5));
$red-200:   Lighter($red, percentage(3, 5));
$red-300:   Lighter($red, percentage(2, 5));
$red-400:   Lighter($red, percentage(1, 5));
$red-500:   var(selector.append($variable-prefix, $red-name));
$red-600:   Darker($red, percentage(1, 5));
$red-700:   Darker($red, percentage(2, 5));
$red-800:   Darker($red, percentage(3, 5));
$red-900:   Darker($red, percentage(4, 5));
$red-950:   Darker($red, percentage(4.5, 5));



$reds: (
    "50":   $red-50,
    "100":  $red-100,
    "200":  $red-200,
    "300":  $red-300,
    "400":  $red-400,
    "500":  $red-500,
    "600":  $red-600,
    "700":  $red-700,
    "800":  $red-800,
    "900":  $red-900,
    "950":  $red-950
);