@use "sass:selector";
@use "sass:string";

$safety-red-name:   string.quote("safety-red");



$safety-red:    #bd1e24;

$safety-red-50:     Lighter($safety-red, percentage(4.5, 5));
$safety-red-100:    Lighter($safety-red, percentage(4, 5));
$safety-red-200:    Lighter($safety-red, percentage(3, 5));
$safety-red-300:    Lighter($safety-red, percentage(2, 5));
$safety-red-400:    Lighter($safety-red, percentage(1, 5));
$safety-red-500:    var(selector.append($variable-prefix, $safety-red-name));
$safety-red-600:    Darker($safety-red, percentage(1, 5));
$safety-red-700:    Darker($safety-red, percentage(2, 5));
$safety-red-800:    Darker($safety-red, percentage(3, 5));
$safety-red-900:    Darker($safety-red, percentage(4, 5));
$safety-red-950:    Darker($safety-red, percentage(4.5, 5));



$safety-reds: (
    "50":   $safety-red-50,
    "100":  $safety-red-100,
    "200":  $safety-red-200,
    "300":  $safety-red-300,
    "400":  $safety-red-400,
    "500":  $safety-red-500,
    "600":  $safety-red-600,
    "700":  $safety-red-700,
    "800":  $safety-red-800,
    "900":  $safety-red-900,
    "950":  $safety-red-950
);