@use "sass:selector";
@use "sass:string";

$ghost-white-name:  string.quote("ghost-white");



$ghost-white: #F8F8FF;

$ghost-white-50:    Lighter($ghost-white, percentage(4.5, 5));
$ghost-white-100:   Lighter($ghost-white, percentage(4, 5));
$ghost-white-200:   Lighter($ghost-white, percentage(3, 5));
$ghost-white-300:   Lighter($ghost-white, percentage(2, 5));
$ghost-white-400:   Lighter($ghost-white, percentage(1, 5));
$ghost-white-500:   var(selector.append($variable-prefix, $ghost-white-name));
$ghost-white-600:   Darker($ghost-white, percentage(1, 5));
$ghost-white-700:   Darker($ghost-white, percentage(2, 5));
$ghost-white-800:   Darker($ghost-white, percentage(3, 5));
$ghost-white-900:   Darker($ghost-white, percentage(4, 5));
$ghost-white-950:   Darker($ghost-white, percentage(4.5, 5));



$ghost-whites: (
    "50":   $ghost-white-50,
    "100":  $ghost-white-100,
    "200":  $ghost-white-200,
    "300":  $ghost-white-300,
    "400":  $ghost-white-400,
    "500":  $ghost-white-500,
    "600":  $ghost-white-600,
    "700":  $ghost-white-700,
    "800":  $ghost-white-800,
    "900":  $ghost-white-900,
    "950":  $ghost-white-950
);