@use "sass:selector";
@use "sass:string";

$magenta-name:  string.quote("magenta");



$magenta:   #FF00FF;

$magenta-50:    Lighter($magenta, percentage(4.5, 5));
$magenta-100:   Lighter($magenta, percentage(4, 5));
$magenta-200:   Lighter($magenta, percentage(3, 5));
$magenta-300:   Lighter($magenta, percentage(2, 5));
$magenta-400:   Lighter($magenta, percentage(1, 5));
$magenta-500:   var(selector.append($variable-prefix, $magenta-name));
$magenta-600:   Darker($magenta, percentage(1, 5));
$magenta-700:   Darker($magenta, percentage(2, 5));
$magenta-800:   Darker($magenta, percentage(3, 5));
$magenta-900:   Darker($magenta, percentage(4, 5));
$magenta-950:   Darker($magenta, percentage(4.5, 5));



$magentas: (
    "50":   $magenta-50,
    "100":  $magenta-100,
    "200":  $magenta-200,
    "300":  $magenta-300,
    "400":  $magenta-400,
    "500":  $magenta-500,
    "600":  $magenta-600,
    "700":  $magenta-700,
    "800":  $magenta-800,
    "900":  $magenta-900,
    "950":  $magenta-950
);