$goldenrod-darker-1:    Darker($goldenrod, $percentage-small-15);
$goldenrod-darker-2:    Darker($goldenrod, $percentage-small-14);
$goldenrod-darker-3:    Darker($goldenrod, $percentage-small-13);
$goldenrod-darker-4:    Darker($goldenrod, $percentage-small-12);
$goldenrod-darker-5:    Darker($goldenrod, $percentage-small-11);
$goldenrod-darker-6:    Darker($goldenrod, $percentage-small-10);
$goldenrod-darker-7:    Darker($goldenrod, $percentage-small-9);
$goldenrod-darker-8:    Darker($goldenrod, $percentage-small-8);
$goldenrod-darker-9:    Darker($goldenrod, $percentage-small-7);
$goldenrod-darker-10:   Darker($goldenrod, $percentage-small-6);
$goldenrod-darker-11:   Darker($goldenrod, $percentage-small-5);
$goldenrod-darker-12:   Darker($goldenrod, $percentage-small-4);
$goldenrod-darker-13:   Darker($goldenrod, $percentage-small-3);
$goldenrod-darker-14:   Darker($goldenrod, $percentage-small-2);
$goldenrod-darker-15:   Darker($goldenrod, $percentage-small-1);

$goldenrod-darkers: (
    "1":    $goldenrod-darker-1,
    "2":    $goldenrod-darker-2,
    "3":    $goldenrod-darker-3,
    "4":    $goldenrod-darker-4,
    "5":    $goldenrod-darker-5,
    "6":    $goldenrod-darker-6,
    "7":    $goldenrod-darker-7,
    "8":    $goldenrod-darker-8,
    "9":    $goldenrod-darker-9,
    "10":   $goldenrod-darker-10,
    "11":   $goldenrod-darker-11,
    "12":   $goldenrod-darker-12,
    "13":   $goldenrod-darker-13,
    "14":   $goldenrod-darker-14,
    "15":   $goldenrod-darker-15
);