$scale-0:   0;
$scale-50:  0.5;
$scale-75:  0.75;
$scale-90:  0.90;
$scale-95:  0.95;
$scale-100: 1;
$scale-105: 1.05;
$scale-110: 1.1;
$scale-125: 1.25;
$scale-150: 1.5;

$scales: (
    "0":    $scale-0,
    "50":   $scale-50,
    "75":   $scale-75,
    "90":   $scale-90,
    "100":  $scale-100,
    "105":  $scale-105,
    "110":  $scale-110,
    "125":  $scale-125,
    "150":  $scale-150
);