@use "sass:selector";
@use "sass:string";

$pink-name: string.quote("pink");



$pink: #FFC0CB;

$pink-50:   Lighter($pink, percentage(4.5, 5));
$pink-100:  Lighter($pink, percentage(4, 5));
$pink-200:  Lighter($pink, percentage(3, 5));
$pink-300:  Lighter($pink, percentage(2, 5));
$pink-400:  Lighter($pink, percentage(1, 5));
$pink-500:  var(selector.append($variable-prefix, $pink-name));
$pink-600:  Darker($pink, percentage(1, 5));
$pink-700:  Darker($pink, percentage(2, 5));
$pink-800:  Darker($pink, percentage(3, 5));
$pink-900:  Darker($pink, percentage(4, 5));
$pink-950:  Darker($pink, percentage(4.5, 5));



$pinks: (
    "50":   $pink-50,
    "100":  $pink-100,
    "200":  $pink-200,
    "300":  $pink-300,
    "400":  $pink-400,
    "500":  $pink-500,
    "600":  $pink-600,
    "700":  $pink-700,
    "800":  $pink-800,
    "900":  $pink-900,
    "950":  $pink-950
);