$rem-big-1:     PixelToRem(17);
$rem-big-2:     PixelToRem(18);
$rem-big-3:     PixelToRem(19);
$rem-big-4:     PixelToRem(20);
$rem-big-5:     PixelToRem(21);
$rem-big-6:     PixelToRem(22);
$rem-big-7:     PixelToRem(23);
$rem-big-8:     PixelToRem(24);
$rem-big-9:     PixelToRem(25);
$rem-big-10:    PixelToRem(26);
$rem-big-11:    PixelToRem(27);
$rem-big-12:    PixelToRem(28);
$rem-big-13:    PixelToRem(29);
$rem-big-14:    PixelToRem(30);
$rem-big-15:    PixelToRem(31);
$rem-big-16:    PixelToRem(32);
$rem-big-17:    PixelToRem(33);
$rem-big-18:    PixelToRem(34);
$rem-big-19:    PixelToRem(35);
$rem-big-20:    PixelToRem(36);



$rem-bigs: (
    "1":    $rem-big-1,
    "2":    $rem-big-2,
    "3":    $rem-big-3,
    "4":    $rem-big-4,
    "5":    $rem-big-5,
    "6":    $rem-big-6,
    "7":    $rem-big-7,
    "8":    $rem-big-8,
    "9":    $rem-big-9,
    "10":   $rem-big-10,
    "11":   $rem-big-11,
    "12":   $rem-big-12,
    "13":   $rem-big-13,
    "14":   $rem-big-14,
    "15":   $rem-big-15,
    "16":   $rem-big-16,
    "17":   $rem-big-17,
    "18":   $rem-big-18,
    "19":   $rem-big-19,
    "20":   $rem-big-20
);