@use "sass:selector";
@use "sass:string";

$light-sea-green-name:  string.quote("light-sea-green");



$light-sea-green: #20B2AA;

$light-sea-green-50:    Lighter($light-sea-green, percentage(4.5, 5));
$light-sea-green-100:   Lighter($light-sea-green, percentage(4, 5));
$light-sea-green-200:   Lighter($light-sea-green, percentage(3, 5));
$light-sea-green-300:   Lighter($light-sea-green, percentage(2, 5));
$light-sea-green-400:   Lighter($light-sea-green, percentage(1, 5));
$light-sea-green-500:   var(selector.append($variable-prefix, $light-sea-green-name));
$light-sea-green-600:   Darker($light-sea-green, percentage(1, 5));
$light-sea-green-700:   Darker($light-sea-green, percentage(2, 5));
$light-sea-green-800:   Darker($light-sea-green, percentage(3, 5));
$light-sea-green-900:   Darker($light-sea-green, percentage(4, 5));
$light-sea-green-950:   Darker($light-sea-green, percentage(4.5, 5));



$light-sea-greens: (
    "50":   $light-sea-green-50,
    "100":  $light-sea-green-100,
    "200":  $light-sea-green-200,
    "300":  $light-sea-green-300,
    "400":  $light-sea-green-400,
    "500":  $light-sea-green-500,
    "600":  $light-sea-green-600,
    "700":  $light-sea-green-700,
    "800":  $light-sea-green-800,
    "900":  $light-sea-green-900,
    "950":  $light-sea-green-950
);