@use "sass:selector";
@use "sass:string";

$violet-name:   string.quote("violet");



$violet:    #EE82EE;

$violet-50:     Lighter($violet, percentage(4.5, 5));
$violet-100:    Lighter($violet, percentage(4, 5));
$violet-200:    Lighter($violet, percentage(3, 5));
$violet-300:    Lighter($violet, percentage(2, 5));
$violet-400:    Lighter($violet, percentage(1, 5));
$violet-500:    var(selector.append($variable-prefix, $violet-name));
$violet-600:    Darker($violet, percentage(1, 5));
$violet-700:    Darker($violet, percentage(2, 5));
$violet-800:    Darker($violet, percentage(3, 5));
$violet-900:    Darker($violet, percentage(4, 5));
$violet-950:    Darker($violet, percentage(4.5, 5));



$violets: (
    "50":   $violet-50,
    "100":  $violet-100,
    "200":  $violet-200,
    "300":  $violet-300,
    "400":  $violet-400,
    "500":  $violet-500,
    "600":  $violet-600,
    "700":  $violet-700,
    "800":  $violet-800,
    "900":  $violet-900,
    "950":  $violet-950
);