$medium-aquamarine-lighter-1:   Lighter($medium-aquamarine, $percentage-small-15);
$medium-aquamarine-lighter-2:   Lighter($medium-aquamarine, $percentage-small-14);
$medium-aquamarine-lighter-3:   Lighter($medium-aquamarine, $percentage-small-13);
$medium-aquamarine-lighter-4:   Lighter($medium-aquamarine, $percentage-small-12);
$medium-aquamarine-lighter-5:   Lighter($medium-aquamarine, $percentage-small-11);
$medium-aquamarine-lighter-6:   Lighter($medium-aquamarine, $percentage-small-10);
$medium-aquamarine-lighter-7:   Lighter($medium-aquamarine, $percentage-small-9);
$medium-aquamarine-lighter-8:   Lighter($medium-aquamarine, $percentage-small-8);
$medium-aquamarine-lighter-9:   Lighter($medium-aquamarine, $percentage-small-7);
$medium-aquamarine-lighter-10:  Lighter($medium-aquamarine, $percentage-small-6);
$medium-aquamarine-lighter-11:  Lighter($medium-aquamarine, $percentage-small-5);
$medium-aquamarine-lighter-12:  Lighter($medium-aquamarine, $percentage-small-4);
$medium-aquamarine-lighter-13:  Lighter($medium-aquamarine, $percentage-small-3);
$medium-aquamarine-lighter-14:  Lighter($medium-aquamarine, $percentage-small-2);
$medium-aquamarine-lighter-15:  Lighter($medium-aquamarine, $percentage-small-1);



$medium-aquamarine-lighters: (
    "1":    $medium-aquamarine-lighter-1,
    "2":    $medium-aquamarine-lighter-2,
    "3":    $medium-aquamarine-lighter-3,
    "4":    $medium-aquamarine-lighter-4,
    "5":    $medium-aquamarine-lighter-5,
    "6":    $medium-aquamarine-lighter-6,
    "7":    $medium-aquamarine-lighter-7,
    "8":    $medium-aquamarine-lighter-8,
    "9":    $medium-aquamarine-lighter-9,
    "10":   $medium-aquamarine-lighter-10,
    "11":   $medium-aquamarine-lighter-11,
    "12":   $medium-aquamarine-lighter-12,
    "13":   $medium-aquamarine-lighter-13,
    "14":   $medium-aquamarine-lighter-14,
    "15":   $medium-aquamarine-lighter-15
);