@use "sass:selector";
@use "sass:string";

$deep-pink-name: string.quote("deep-pink");



$deep-pink: #FF1493;

$deep-pink-50:  Lighter($deep-pink, percentage(4.5, 5));
$deep-pink-100: Lighter($deep-pink, percentage(4, 5));
$deep-pink-200: Lighter($deep-pink, percentage(3, 5));
$deep-pink-300: Lighter($deep-pink, percentage(2, 5));
$deep-pink-400: Lighter($deep-pink, percentage(1, 5));
$deep-pink-500: var(selector.append($variable-prefix, $deep-pink-name));
$deep-pink-600: Darker($deep-pink, percentage(1, 5));
$deep-pink-700: Darker($deep-pink, percentage(2, 5));
$deep-pink-800: Darker($deep-pink, percentage(3, 5));
$deep-pink-900: Darker($deep-pink, percentage(4, 5));
$deep-pink-950: Darker($deep-pink, percentage(4.5, 5));



$deep-pinks: (
    "50":   $deep-pink-50,
    "100":  $deep-pink-100,
    "200":  $deep-pink-200,
    "300":  $deep-pink-300,
    "400":  $deep-pink-400,
    "500":  $deep-pink-500,
    "600":  $deep-pink-600,
    "700":  $deep-pink-700,
    "800":  $deep-pink-800,
    "900":  $deep-pink-900,
    "950":  $deep-pink-950
);