@use "sass:selector";
@use "sass:string";

$hot-pink-name: string.quote("hot-pink");



$hot-pink: #FF69B4;

$hot-pink-50:   Lighter($hot-pink, percentage(4.5, 5));
$hot-pink-100:  Lighter($hot-pink, percentage(4, 5));
$hot-pink-200:  Lighter($hot-pink, percentage(3, 5));
$hot-pink-300:  Lighter($hot-pink, percentage(2, 5));
$hot-pink-400:  Lighter($hot-pink, percentage(1, 5));
$hot-pink-500:  var(selector.append($variable-prefix, $hot-pink-name));
$hot-pink-600:  Darker($hot-pink, percentage(1, 5));
$hot-pink-700:  Darker($hot-pink, percentage(2, 5));
$hot-pink-800:  Darker($hot-pink, percentage(3, 5));
$hot-pink-900:  Darker($hot-pink, percentage(4, 5));
$hot-pink-950:  Darker($hot-pink, percentage(4.5, 5));



$hot-pinks: (
    "50":   $hot-pink-50,
    "100":  $hot-pink-100,
    "200":  $hot-pink-200,
    "300":  $hot-pink-300,
    "400":  $hot-pink-400,
    "500":  $hot-pink-500,
    "600":  $hot-pink-600,
    "700":  $hot-pink-700,
    "800":  $hot-pink-800,
    "900":  $hot-pink-900,
    "950":  $hot-pink-950
);