$pale-goldenrod-darker-1:   Darker($pale-goldenrod, percentage(1, 16));
$pale-goldenrod-darker-2:   Darker($pale-goldenrod, percentage(2, 16));
$pale-goldenrod-darker-3:   Darker($pale-goldenrod, percentage(3, 16));
$pale-goldenrod-darker-4:   Darker($pale-goldenrod, percentage(4, 16));
$pale-goldenrod-darker-5:   Darker($pale-goldenrod, percentage(5, 16));
$pale-goldenrod-darker-6:   Darker($pale-goldenrod, percentage(6, 16));
$pale-goldenrod-darker-7:   Darker($pale-goldenrod, percentage(7, 16));
$pale-goldenrod-darker-8:   Darker($pale-goldenrod, percentage(8, 16));
$pale-goldenrod-darker-9:   Darker($pale-goldenrod, percentage(9, 16));
$pale-goldenrod-darker-10:  Darker($pale-goldenrod, percentage(10, 16));
$pale-goldenrod-darker-11:  Darker($pale-goldenrod, percentage(11, 16));
$pale-goldenrod-darker-12:  Darker($pale-goldenrod, percentage(12, 16));
$pale-goldenrod-darker-13:  Darker($pale-goldenrod, percentage(13, 16));
$pale-goldenrod-darker-14:  Darker($pale-goldenrod, percentage(14, 16));
$pale-goldenrod-darker-15:  Darker($pale-goldenrod, percentage(15, 16));



$pale-goldenrod-darkers: (
    "1":    $pale-goldenrod-darker-1,
    "2":    $pale-goldenrod-darker-2,
    "3":    $pale-goldenrod-darker-3,
    "4":    $pale-goldenrod-darker-4,
    "5":    $pale-goldenrod-darker-5,
    "6":    $pale-goldenrod-darker-6,
    "7":    $pale-goldenrod-darker-7,
    "8":    $pale-goldenrod-darker-8,
    "9":    $pale-goldenrod-darker-9,
    "10":   $pale-goldenrod-darker-10,
    "11":   $pale-goldenrod-darker-11,
    "12":   $pale-goldenrod-darker-12,
    "13":   $pale-goldenrod-darker-13,
    "14":   $pale-goldenrod-darker-14,
    "15":   $pale-goldenrod-darker-15
);