$pale-goldenrod-lighter-1:  Lighter($pale-goldenrod, $percentage-small-15);
$pale-goldenrod-lighter-2:  Lighter($pale-goldenrod, $percentage-small-14);
$pale-goldenrod-lighter-3:  Lighter($pale-goldenrod, $percentage-small-13);
$pale-goldenrod-lighter-4:  Lighter($pale-goldenrod, $percentage-small-12);
$pale-goldenrod-lighter-5:  Lighter($pale-goldenrod, $percentage-small-11);
$pale-goldenrod-lighter-6:  Lighter($pale-goldenrod, $percentage-small-10);
$pale-goldenrod-lighter-7:  Lighter($pale-goldenrod, $percentage-small-9);
$pale-goldenrod-lighter-8:  Lighter($pale-goldenrod, $percentage-small-8);
$pale-goldenrod-lighter-9:  Lighter($pale-goldenrod, $percentage-small-7);
$pale-goldenrod-lighter-10: Lighter($pale-goldenrod, $percentage-small-6);
$pale-goldenrod-lighter-11: Lighter($pale-goldenrod, $percentage-small-5);
$pale-goldenrod-lighter-12: Lighter($pale-goldenrod, $percentage-small-4);
$pale-goldenrod-lighter-13: Lighter($pale-goldenrod, $percentage-small-3);
$pale-goldenrod-lighter-14: Lighter($pale-goldenrod, $percentage-small-2);
$pale-goldenrod-lighter-15: Lighter($pale-goldenrod, $percentage-small-1);



$pale-goldenrod-lighters: (
    "1":    $pale-goldenrod-lighter-1,
    "2":    $pale-goldenrod-lighter-2,
    "3":    $pale-goldenrod-lighter-3,
    "4":    $pale-goldenrod-lighter-4,
    "5":    $pale-goldenrod-lighter-5,
    "6":    $pale-goldenrod-lighter-6,
    "7":    $pale-goldenrod-lighter-7,
    "8":    $pale-goldenrod-lighter-8,
    "9":    $pale-goldenrod-lighter-9,
    "10":   $pale-goldenrod-lighter-10,
    "11":   $pale-goldenrod-lighter-11,
    "12":   $pale-goldenrod-lighter-12,
    "13":   $pale-goldenrod-lighter-13,
    "14":   $pale-goldenrod-lighter-14,
    "15":   $pale-goldenrod-lighter-15
);