@use "sass:selector";
@use "sass:string";

$dark-salmon-name:  string.quote("dark-salmon");



$dark-salmon:    #E9967A;

$dark-salmon-50:    Lighter($dark-salmon, percentage(4.5, 5));
$dark-salmon-100:   Lighter($dark-salmon, percentage(4, 5));
$dark-salmon-200:   Lighter($dark-salmon, percentage(3, 5));
$dark-salmon-300:   Lighter($dark-salmon, percentage(2, 5));
$dark-salmon-400:   Lighter($dark-salmon, percentage(1, 5));
$dark-salmon-500:   var(selector.append($variable-prefix, $dark-salmon-name));
$dark-salmon-600:   Darker($dark-salmon, percentage(1, 5));
$dark-salmon-700:   Darker($dark-salmon, percentage(2, 5));
$dark-salmon-800:   Darker($dark-salmon, percentage(3, 5));
$dark-salmon-900:   Darker($dark-salmon, percentage(4, 5));
$dark-salmon-950:   Darker($dark-salmon, percentage(4.5, 5));



$dark-salmons: (
    "50":   $dark-salmon-50,
    "100":  $dark-salmon-100,
    "200":  $dark-salmon-200,
    "300":  $dark-salmon-300,
    "400":  $dark-salmon-400,
    "500":  $dark-salmon-500,
    "600":  $dark-salmon-600,
    "700":  $dark-salmon-700,
    "800":  $dark-salmon-800,
    "900":  $dark-salmon-900,
    "950":  $dark-salmon-950
);