@use "sass:selector";
@use "sass:string";

$light-salmon-name: string.quote("light-salmon");



$light-salmon:  #FFA07A;

$light-salmon-50:   Lighter($light-salmon, percentage(4.5, 5));
$light-salmon-100:  Lighter($light-salmon, percentage(4, 5));
$light-salmon-200:  Lighter($light-salmon, percentage(3, 5));
$light-salmon-300:  Lighter($light-salmon, percentage(2, 5));
$light-salmon-400:  Lighter($light-salmon, percentage(1, 5));
$light-salmon-500:  var(selector.append($variable-prefix, $light-salmon-name));
$light-salmon-600:  Darker($light-salmon, percentage(1, 5));
$light-salmon-700:  Darker($light-salmon, percentage(2, 5));
$light-salmon-800:  Darker($light-salmon, percentage(3, 5));
$light-salmon-900:  Darker($light-salmon, percentage(4, 5));
$light-salmon-950:  Darker($light-salmon, percentage(4.5, 5));



$light-salmons: (
    "50":   $light-salmon-50,
    "100":  $light-salmon-100,
    "200":  $light-salmon-200,
    "300":  $light-salmon-300,
    "400":  $light-salmon-400,
    "500":  $light-salmon-500,
    "600":  $light-salmon-600,
    "700":  $light-salmon-700,
    "800":  $light-salmon-800,
    "900":  $light-salmon-900,
    "950":  $light-salmon-950
);