$deep-sky-blue-lighter-1:   Lighter($deep-sky-blue, $percentage-small-15);
$deep-sky-blue-lighter-2:   Lighter($deep-sky-blue, $percentage-small-14);
$deep-sky-blue-lighter-3:   Lighter($deep-sky-blue, $percentage-small-13);
$deep-sky-blue-lighter-4:   Lighter($deep-sky-blue, $percentage-small-12);
$deep-sky-blue-lighter-5:   Lighter($deep-sky-blue, $percentage-small-11);
$deep-sky-blue-lighter-6:   Lighter($deep-sky-blue, $percentage-small-10);
$deep-sky-blue-lighter-7:   Lighter($deep-sky-blue, $percentage-small-9);
$deep-sky-blue-lighter-8:   Lighter($deep-sky-blue, $percentage-small-8);
$deep-sky-blue-lighter-9:   Lighter($deep-sky-blue, $percentage-small-7);
$deep-sky-blue-lighter-10:  Lighter($deep-sky-blue, $percentage-small-6);
$deep-sky-blue-lighter-11:  Lighter($deep-sky-blue, $percentage-small-5);
$deep-sky-blue-lighter-12:  Lighter($deep-sky-blue, $percentage-small-4);
$deep-sky-blue-lighter-13:  Lighter($deep-sky-blue, $percentage-small-3);
$deep-sky-blue-lighter-14:  Lighter($deep-sky-blue, $percentage-small-2);
$deep-sky-blue-lighter-15:  Lighter($deep-sky-blue, $percentage-small-1);



$deep-sky-blue-lighters: (
    "1":    $deep-sky-blue-lighter-1,
    "2":    $deep-sky-blue-lighter-2,
    "3":    $deep-sky-blue-lighter-3,
    "4":    $deep-sky-blue-lighter-4,
    "5":    $deep-sky-blue-lighter-5,
    "6":    $deep-sky-blue-lighter-6,
    "7":    $deep-sky-blue-lighter-7,
    "8":    $deep-sky-blue-lighter-8,
    "9":    $deep-sky-blue-lighter-9,
    "10":   $deep-sky-blue-lighter-10,
    "11":   $deep-sky-blue-lighter-11,
    "12":   $deep-sky-blue-lighter-12,
    "13":   $deep-sky-blue-lighter-13,
    "14":   $deep-sky-blue-lighter-14,
    "15":   $deep-sky-blue-lighter-15
);