$safety-blue-darker-1:  Darker($safety-blue, $percentage-small-15);
$safety-blue-darker-2:  Darker($safety-blue, $percentage-small-14);
$safety-blue-darker-3:  Darker($safety-blue, $percentage-small-13);
$safety-blue-darker-4:  Darker($safety-blue, $percentage-small-12);
$safety-blue-darker-5:  Darker($safety-blue, $percentage-small-11);
$safety-blue-darker-6:  Darker($safety-blue, $percentage-small-10);
$safety-blue-darker-7:  Darker($safety-blue, $percentage-small-9);
$safety-blue-darker-8:  Darker($safety-blue, $percentage-small-8);
$safety-blue-darker-9:  Darker($safety-blue, $percentage-small-7);
$safety-blue-darker-10: Darker($safety-blue, $percentage-small-6);
$safety-blue-darker-11: Darker($safety-blue, $percentage-small-5);
$safety-blue-darker-12: Darker($safety-blue, $percentage-small-4);
$safety-blue-darker-13: Darker($safety-blue, $percentage-small-3);
$safety-blue-darker-14: Darker($safety-blue, $percentage-small-2);
$safety-blue-darker-15: Darker($safety-blue, $percentage-small-1);



$safety-blue-darkers: (
    "1":    $safety-blue-darker-1,
    "2":    $safety-blue-darker-2,
    "3":    $safety-blue-darker-3,
    "4":    $safety-blue-darker-4,
    "5":    $safety-blue-darker-5,
    "6":    $safety-blue-darker-6,
    "7":    $safety-blue-darker-7,
    "8":    $safety-blue-darker-8,
    "9":    $safety-blue-darker-9,
    "10":   $safety-blue-darker-10,
    "11":   $safety-blue-darker-11,
    "12":   $safety-blue-darker-12,
    "13":   $safety-blue-darker-13,
    "14":   $safety-blue-darker-14,
    "15":   $safety-blue-darker-15
);