$safety-blue-lighter-1:     Lighter($safety-blue, $percentage-small-15);
$safety-blue-lighter-2:     Lighter($safety-blue, $percentage-small-14);
$safety-blue-lighter-3:     Lighter($safety-blue, $percentage-small-13);
$safety-blue-lighter-4:     Lighter($safety-blue, $percentage-small-12);
$safety-blue-lighter-5:     Lighter($safety-blue, $percentage-small-11);
$safety-blue-lighter-6:     Lighter($safety-blue, $percentage-small-10);
$safety-blue-lighter-7:     Lighter($safety-blue, $percentage-small-9);
$safety-blue-lighter-8:     Lighter($safety-blue, $percentage-small-8);
$safety-blue-lighter-9:     Lighter($safety-blue, $percentage-small-7);
$safety-blue-lighter-10:    Lighter($safety-blue, $percentage-small-6);
$safety-blue-lighter-11:    Lighter($safety-blue, $percentage-small-5);
$safety-blue-lighter-12:    Lighter($safety-blue, $percentage-small-4);
$safety-blue-lighter-13:    Lighter($safety-blue, $percentage-small-3);
$safety-blue-lighter-14:    Lighter($safety-blue, $percentage-small-2);
$safety-blue-lighter-15:    Lighter($safety-blue, $percentage-small-1);



$safety-blue-lighters: (
    "1":    $safety-blue-lighter-1,
    "2":    $safety-blue-lighter-2,
    "3":    $safety-blue-lighter-3,
    "4":    $safety-blue-lighter-4,
    "5":    $safety-blue-lighter-5,
    "6":    $safety-blue-lighter-6,
    "7":    $safety-blue-lighter-7,
    "8":    $safety-blue-lighter-8,
    "9":    $safety-blue-lighter-9,
    "10":   $safety-blue-lighter-10,
    "11":   $safety-blue-lighter-11,
    "12":   $safety-blue-lighter-12,
    "13":   $safety-blue-lighter-13,
    "14":   $safety-blue-lighter-14,
    "15":   $safety-blue-lighter-15
);