$safety-blue-lighter-1:     Lighter($safety-blue, percentage(1, 16));
$safety-blue-lighter-2:     Lighter($safety-blue, percentage(2, 16));
$safety-blue-lighter-3:     Lighter($safety-blue, percentage(3, 16));
$safety-blue-lighter-4:     Lighter($safety-blue, percentage(4, 16));
$safety-blue-lighter-5:     Lighter($safety-blue, percentage(5, 16));
$safety-blue-lighter-6:     Lighter($safety-blue, percentage(6, 16));
$safety-blue-lighter-7:     Lighter($safety-blue, percentage(7, 16));
$safety-blue-lighter-8:     Lighter($safety-blue, percentage(8, 16));
$safety-blue-lighter-9:     Lighter($safety-blue, percentage(9, 16));
$safety-blue-lighter-10:    Lighter($safety-blue, percentage(10, 16));
$safety-blue-lighter-11:    Lighter($safety-blue, percentage(11, 16));
$safety-blue-lighter-12:    Lighter($safety-blue, percentage(12, 16));
$safety-blue-lighter-13:    Lighter($safety-blue, percentage(13, 16));
$safety-blue-lighter-14:    Lighter($safety-blue, percentage(14, 16));
$safety-blue-lighter-15:    Lighter($safety-blue, percentage(15, 16));



$safety-blue-lighters: (
    "1":    $safety-blue-lighter-1,
    "2":    $safety-blue-lighter-2,
    "3":    $safety-blue-lighter-3,
    "4":    $safety-blue-lighter-4,
    "5":    $safety-blue-lighter-5,
    "6":    $safety-blue-lighter-6,
    "7":    $safety-blue-lighter-7,
    "8":    $safety-blue-lighter-8,
    "9":    $safety-blue-lighter-9,
    "10":   $safety-blue-lighter-10,
    "11":   $safety-blue-lighter-11,
    "12":   $safety-blue-lighter-12,
    "13":   $safety-blue-lighter-13,
    "14":   $safety-blue-lighter-14,
    "15":   $safety-blue-lighter-15
);