@use "sass:selector";
@use "sass:string";

$white-smoke-name:  string.quote("white-smoke");



$white-smoke:   #F5F5F5;

$white-smoke-50:    Lighter($white-smoke, percentage(4.5, 5));
$white-smoke-100:   Lighter($white-smoke, percentage(4, 5));
$white-smoke-200:   Lighter($white-smoke, percentage(3, 5));
$white-smoke-300:   Lighter($white-smoke, percentage(2, 5));
$white-smoke-400:   Lighter($white-smoke, percentage(1, 5));
$white-smoke-500:   var(selector.append($variable-prefix, $white-smoke-name));
$white-smoke-600:   Darker($white-smoke, percentage(1, 5));
$white-smoke-700:   Darker($white-smoke, percentage(2, 5));
$white-smoke-800:   Darker($white-smoke, percentage(3, 5));
$white-smoke-900:   Darker($white-smoke, percentage(4, 5));
$white-smoke-950:   Darker($white-smoke, percentage(4.5, 5));



$white-smokes: (
    "50":   $white-smoke-50,
    "100":  $white-smoke-100,
    "200":  $white-smoke-200,
    "300":  $white-smoke-300,
    "400":  $white-smoke-400,
    "500":  $white-smoke-500,
    "600":  $white-smoke-600,
    "700":  $white-smoke-700,
    "800":  $white-smoke-800,
    "900":  $white-smoke-900,
    "950":  $white-smoke-950
);