$amber-lighter-1:   Lighter($amber, percentage(1, 16));
$amber-lighter-2:   Lighter($amber, percentage(2, 16));
$amber-lighter-3:   Lighter($amber, percentage(3, 16));
$amber-lighter-4:   Lighter($amber, percentage(4, 16));
$amber-lighter-5:   Lighter($amber, percentage(5, 16));
$amber-lighter-6:   Lighter($amber, percentage(6, 16));
$amber-lighter-7:   Lighter($amber, percentage(7, 16));
$amber-lighter-8:   Lighter($amber, percentage(8, 16));
$amber-lighter-9:   Lighter($amber, percentage(9, 16));
$amber-lighter-10:  Lighter($amber, percentage(10, 16));
$amber-lighter-11:  Lighter($amber, percentage(11, 16));
$amber-lighter-12:  Lighter($amber, percentage(12, 16));
$amber-lighter-13:  Lighter($amber, percentage(13, 16));
$amber-lighter-14:  Lighter($amber, percentage(14, 16));
$amber-lighter-15:  Lighter($amber, percentage(15, 16));



$amber-lighters: (
    "1":    $amber-lighter-1,
    "2":    $amber-lighter-2,
    "3":    $amber-lighter-3,
    "4":    $amber-lighter-4,
    "5":    $amber-lighter-5,
    "6":    $amber-lighter-6,
    "7":    $amber-lighter-7,
    "8":    $amber-lighter-8,
    "9":    $amber-lighter-9,
    "10":   $amber-lighter-10,
    "11":   $amber-lighter-11,
    "12":   $amber-lighter-12,
    "13":   $amber-lighter-13,
    "14":   $amber-lighter-14,
    "15":   $amber-lighter-15
);