$saddle-brown-lighter-1:    Lighter($saddle-brown, $percentage-small-15);
$saddle-brown-lighter-2:    Lighter($saddle-brown, $percentage-small-14);
$saddle-brown-lighter-3:    Lighter($saddle-brown, $percentage-small-13);
$saddle-brown-lighter-4:    Lighter($saddle-brown, $percentage-small-12);
$saddle-brown-lighter-5:    Lighter($saddle-brown, $percentage-small-11);
$saddle-brown-lighter-6:    Lighter($saddle-brown, $percentage-small-10);
$saddle-brown-lighter-7:    Lighter($saddle-brown, $percentage-small-9);
$saddle-brown-lighter-8:    Lighter($saddle-brown, $percentage-small-8);
$saddle-brown-lighter-9:    Lighter($saddle-brown, $percentage-small-7);
$saddle-brown-lighter-10:   Lighter($saddle-brown, $percentage-small-6);
$saddle-brown-lighter-11:   Lighter($saddle-brown, $percentage-small-5);
$saddle-brown-lighter-12:   Lighter($saddle-brown, $percentage-small-4);
$saddle-brown-lighter-13:   Lighter($saddle-brown, $percentage-small-3);
$saddle-brown-lighter-14:   Lighter($saddle-brown, $percentage-small-2);
$saddle-brown-lighter-15:   Lighter($saddle-brown, $percentage-small-1);



$saddle-brown-lighters: (
    "1":    $saddle-brown-lighter-1,
    "2":    $saddle-brown-lighter-2,
    "3":    $saddle-brown-lighter-3,
    "4":    $saddle-brown-lighter-4,
    "5":    $saddle-brown-lighter-5,
    "6":    $saddle-brown-lighter-6,
    "7":    $saddle-brown-lighter-7,
    "8":    $saddle-brown-lighter-8,
    "9":    $saddle-brown-lighter-9,
    "10":   $saddle-brown-lighter-10,
    "11":   $saddle-brown-lighter-11,
    "12":   $saddle-brown-lighter-12,
    "13":   $saddle-brown-lighter-13,
    "14":   $saddle-brown-lighter-14,
    "15":   $saddle-brown-lighter-15
);