$pixel-small-15:    1px;
$pixel-small-14:    2px;
$pixel-small-13:    3px;
$pixel-small-12:    4px;
$pixel-small-11:    5px;
$pixel-small-10:    6px;
$pixel-small-9:     7px;
$pixel-small-8:     8px;
$pixel-small-7:     9px;
$pixel-small-6:     10px;
$pixel-small-5:     11px;
$pixel-small-4:     12px;
$pixel-small-3:     13px;
$pixel-small-2:     14px;
$pixel-small-1:     15px;



$pixel-smalls: (
    "1":    $pixel-small-1,
    "2":    $pixel-small-2,
    "3":    $pixel-small-3,
    "4":    $pixel-small-4,
    "5":    $pixel-small-5,
    "6":    $pixel-small-6,
    "7":    $pixel-small-7,
    "8":    $pixel-small-8,
    "9":    $pixel-small-9,
    "10":   $pixel-small-10,
    "11":   $pixel-small-11,
    "12":   $pixel-small-12,
    "13":   $pixel-small-13,
    "14":   $pixel-small-14,
    "15":   $pixel-small-15
);