$powder-blue-darker-1:  Darker($powder-blue, percentage(1, 16));
$powder-blue-darker-2:  Darker($powder-blue, percentage(2, 16));
$powder-blue-darker-3:  Darker($powder-blue, percentage(3, 16));
$powder-blue-darker-4:  Darker($powder-blue, percentage(4, 16));
$powder-blue-darker-5:  Darker($powder-blue, percentage(5, 16));
$powder-blue-darker-6:  Darker($powder-blue, percentage(6, 16));
$powder-blue-darker-7:  Darker($powder-blue, percentage(7, 16));
$powder-blue-darker-8:  Darker($powder-blue, percentage(8, 16));
$powder-blue-darker-9:  Darker($powder-blue, percentage(9, 16));
$powder-blue-darker-10: Darker($powder-blue, percentage(10, 16));
$powder-blue-darker-11: Darker($powder-blue, percentage(11, 16));
$powder-blue-darker-12: Darker($powder-blue, percentage(12, 16));
$powder-blue-darker-13: Darker($powder-blue, percentage(13, 16));
$powder-blue-darker-14: Darker($powder-blue, percentage(14, 16));
$powder-blue-darker-15: Darker($powder-blue, percentage(15, 16));



$powder-blue-darkers: (
    "1":    $powder-blue-darker-1,
    "2":    $powder-blue-darker-2,
    "3":    $powder-blue-darker-3,
    "4":    $powder-blue-darker-4,
    "5":    $powder-blue-darker-5,
    "6":    $powder-blue-darker-6,
    "7":    $powder-blue-darker-7,
    "8":    $powder-blue-darker-8,
    "9":    $powder-blue-darker-9,
    "10":   $powder-blue-darker-10,
    "11":   $powder-blue-darker-11,
    "12":   $powder-blue-darker-12,
    "13":   $powder-blue-darker-13,
    "14":   $powder-blue-darker-14,
    "15":   $powder-blue-darker-15
);