@use "sass:selector";
@use "sass:string";

$khaki-name: string.quote("khaki");



$khaki: #F0E68C;

$khaki-50:  Lighter($khaki, percentage(4.5, 5));
$khaki-100: Lighter($khaki, percentage(4, 5));
$khaki-200: Lighter($khaki, percentage(3, 5));
$khaki-300: Lighter($khaki, percentage(2, 5));
$khaki-400: Lighter($khaki, percentage(1, 5));
$khaki-500: var(selector.append($variable-prefix, $khaki-name));
$khaki-600: Darker($khaki, percentage(1, 5));
$khaki-700: Darker($khaki, percentage(2, 5));
$khaki-800: Darker($khaki, percentage(3, 5));
$khaki-900: Darker($khaki, percentage(4, 5));
$khaki-950: Darker($khaki, percentage(4.5, 5));



$khakis: (
    "50":   $khaki-50,
    "100":  $khaki-100,
    "200":  $khaki-200,
    "300":  $khaki-300,
    "400":  $khaki-400,
    "500":  $khaki-500,
    "600":  $khaki-600,
    "700":  $khaki-700,
    "800":  $khaki-800,
    "900":  $khaki-900,
    "950":  $khaki-950
);