$dark-khaki-lighter-1:  Lighter($dark-khaki, $percentage-small-15);
$dark-khaki-lighter-2:  Lighter($dark-khaki, $percentage-small-14);
$dark-khaki-lighter-3:  Lighter($dark-khaki, $percentage-small-13);
$dark-khaki-lighter-4:  Lighter($dark-khaki, $percentage-small-12);
$dark-khaki-lighter-5:  Lighter($dark-khaki, $percentage-small-11);
$dark-khaki-lighter-6:  Lighter($dark-khaki, $percentage-small-10);
$dark-khaki-lighter-7:  Lighter($dark-khaki, $percentage-small-9);
$dark-khaki-lighter-8:  Lighter($dark-khaki, $percentage-small-8);
$dark-khaki-lighter-9:  Lighter($dark-khaki, $percentage-small-7);
$dark-khaki-lighter-10: Lighter($dark-khaki, $percentage-small-6);
$dark-khaki-lighter-11: Lighter($dark-khaki, $percentage-small-5);
$dark-khaki-lighter-12: Lighter($dark-khaki, $percentage-small-4);
$dark-khaki-lighter-13: Lighter($dark-khaki, $percentage-small-3);
$dark-khaki-lighter-14: Lighter($dark-khaki, $percentage-small-2);
$dark-khaki-lighter-15: Lighter($dark-khaki, $percentage-small-1);



$dark-khaki-lighters: (
    "1":    $dark-khaki-lighter-1,
    "2":    $dark-khaki-lighter-2,
    "3":    $dark-khaki-lighter-3,
    "4":    $dark-khaki-lighter-4,
    "5":    $dark-khaki-lighter-5,
    "6":    $dark-khaki-lighter-6,
    "7":    $dark-khaki-lighter-7,
    "8":    $dark-khaki-lighter-8,
    "9":    $dark-khaki-lighter-9,
    "10":   $dark-khaki-lighter-10,
    "11":   $dark-khaki-lighter-11,
    "12":   $dark-khaki-lighter-12,
    "13":   $dark-khaki-lighter-13,
    "14":   $dark-khaki-lighter-14,
    "15":   $dark-khaki-lighter-15
);