$amber-darker-1:    Darker($amber, $percentage-small-15);
$amber-darker-2:    Darker($amber, $percentage-small-14);
$amber-darker-3:    Darker($amber, $percentage-small-13);
$amber-darker-4:    Darker($amber, $percentage-small-12);
$amber-darker-5:    Darker($amber, $percentage-small-11);
$amber-darker-6:    Darker($amber, $percentage-small-10);
$amber-darker-7:    Darker($amber, $percentage-small-9);
$amber-darker-8:    Darker($amber, $percentage-small-8);
$amber-darker-9:    Darker($amber, $percentage-small-7);
$amber-darker-10:   Darker($amber, $percentage-small-6);
$amber-darker-11:   Darker($amber, $percentage-small-5);
$amber-darker-12:   Darker($amber, $percentage-small-4);
$amber-darker-13:   Darker($amber, $percentage-small-3);
$amber-darker-14:   Darker($amber, $percentage-small-2);
$amber-darker-15:   Darker($amber, $percentage-small-1);



$amber-darkers: (
    "1":    $amber-darker-1,
    "2":    $amber-darker-2,
    "3":    $amber-darker-3,
    "4":    $amber-darker-4,
    "5":    $amber-darker-5,
    "6":    $amber-darker-6,
    "7":    $amber-darker-7,
    "8":    $amber-darker-8,
    "9":    $amber-darker-9,
    "10":   $amber-darker-10,
    "11":   $amber-darker-11,
    "12":   $amber-darker-12,
    "13":   $amber-darker-13,
    "14":   $amber-darker-14,
    "15":   $amber-darker-15
);