@use "sass:selector";
@use "sass:string";

$lawn-green-name:   string.quote("lawn-green");



$lawn-green: #7CFC00;

$lawn-green-50:     Lighter($lawn-green, percentage(4.5, 5));
$lawn-green-100:    Lighter($lawn-green, percentage(4, 5));
$lawn-green-200:    Lighter($lawn-green, percentage(3, 5));
$lawn-green-300:    Lighter($lawn-green, percentage(2, 5));
$lawn-green-400:    Lighter($lawn-green, percentage(1, 5));
$lawn-green-500:    var(selector.append($variable-prefix, $lawn-green-name));
$lawn-green-600:    Darker($lawn-green, percentage(1, 5));
$lawn-green-700:    Darker($lawn-green, percentage(2, 5));
$lawn-green-800:    Darker($lawn-green, percentage(3, 5));
$lawn-green-900:    Darker($lawn-green, percentage(4, 5));
$lawn-green-950:    Darker($lawn-green, percentage(4.5, 5));



$lawn-greens: (
    "50":   $lawn-green-50,
    "100":  $lawn-green-100,
    "200":  $lawn-green-200,
    "300":  $lawn-green-300,
    "400":  $lawn-green-400,
    "500":  $lawn-green-500,
    "600":  $lawn-green-600,
    "700":  $lawn-green-700,
    "800":  $lawn-green-800,
    "900":  $lawn-green-900,
    "950":  $lawn-green-950
);