$olive-lighter-1:   Lighter($olive, $percentage-small-15);
$olive-lighter-2:   Lighter($olive, $percentage-small-14);
$olive-lighter-3:   Lighter($olive, $percentage-small-13);
$olive-lighter-4:   Lighter($olive, $percentage-small-12);
$olive-lighter-5:   Lighter($olive, $percentage-small-11);
$olive-lighter-6:   Lighter($olive, $percentage-small-10);
$olive-lighter-7:   Lighter($olive, $percentage-small-9);
$olive-lighter-8:   Lighter($olive, $percentage-small-8);
$olive-lighter-9:   Lighter($olive, $percentage-small-7);
$olive-lighter-10:  Lighter($olive, $percentage-small-6);
$olive-lighter-11:  Lighter($olive, $percentage-small-5);
$olive-lighter-12:  Lighter($olive, $percentage-small-4);
$olive-lighter-13:  Lighter($olive, $percentage-small-3);
$olive-lighter-14:  Lighter($olive, $percentage-small-2);
$olive-lighter-15:  Lighter($olive, $percentage-small-1);



$olive-lighters: (
    "1":    $olive-lighter-1,
    "2":    $olive-lighter-2,
    "3":    $olive-lighter-3,
    "4":    $olive-lighter-4,
    "5":    $olive-lighter-5,
    "6":    $olive-lighter-6,
    "7":    $olive-lighter-7,
    "8":    $olive-lighter-8,
    "9":    $olive-lighter-9,
    "10":   $olive-lighter-10,
    "11":   $olive-lighter-11,
    "12":   $olive-lighter-12,
    "13":   $olive-lighter-13,
    "14":   $olive-lighter-14,
    "15":   $olive-lighter-15
);