@use "sass:selector";
@use "sass:string";

$indigo-name:   string.quote("indigo");



$indigo: #4B0082;

$indigo-50:     Lighter($indigo, percentage(4.5, 5));
$indigo-100:    Lighter($indigo, percentage(4, 5));
$indigo-200:    Lighter($indigo, percentage(3, 5));
$indigo-300:    Lighter($indigo, percentage(2, 5));
$indigo-400:    Lighter($indigo, percentage(1, 5));
$indigo-500:    var(selector.append($variable-prefix, $indigo-name));
$indigo-600:    Darker($indigo, percentage(1, 5));
$indigo-700:    Darker($indigo, percentage(2, 5));
$indigo-800:    Darker($indigo, percentage(3, 5));
$indigo-900:    Darker($indigo, percentage(4, 5));
$indigo-950:    Darker($indigo, percentage(4.5, 5));



$indigos: (
    "50":   $indigo-50,
    "100":  $indigo-100,
    "200":  $indigo-200,
    "300":  $indigo-300,
    "400":  $indigo-400,
    "500":  $indigo-500,
    "600":  $indigo-600,
    "700":  $indigo-700,
    "800":  $indigo-800,
    "900":  $indigo-900,
    "950":  $indigo-950
);