$percentage-big-1:  percentage(17, 16);
$percentage-big-2:  percentage(18, 16);
$percentage-big-3:  percentage(19, 16);
$percentage-big-4:  percentage(20, 16);
$percentage-big-5:  percentage(21, 16);
$percentage-big-6:  percentage(22, 16);
$percentage-big-7:  percentage(23, 16);
$percentage-big-8:  percentage(24, 16);
$percentage-big-9:  percentage(25, 16);
$percentage-big-10: percentage(26, 16);
$percentage-big-11: percentage(27, 16);
$percentage-big-12: percentage(28, 16);
$percentage-big-13: percentage(29, 16);
$percentage-big-14: percentage(30, 16);
$percentage-big-15: percentage(31, 16);
$percentage-big-16: percentage(32, 16);
$percentage-big-17: percentage(33, 16);
$percentage-big-18: percentage(34, 16);
$percentage-big-19: percentage(35, 16);
$percentage-big-20: percentage(36, 16);



$percentage-bigs: (
    "1":    $percentage-big-1,
    "2":    $percentage-big-2,
    "3":    $percentage-big-3,
    "4":    $percentage-big-4,
    "5":    $percentage-big-5,
    "6":    $percentage-big-6,
    "7":    $percentage-big-7,
    "8":    $percentage-big-8,
    "9":    $percentage-big-9,
    "10":   $percentage-big-10,
    "11":   $percentage-big-11,
    "12":   $percentage-big-12,
    "13":   $percentage-big-13,
    "14":   $percentage-big-14,
    "15":   $percentage-big-15,
    "16":   $percentage-big-16,
    "17":   $percentage-big-17,
    "18":   $percentage-big-18,
    "19":   $percentage-big-19,
    "20":   $percentage-big-20
);