@use "sass:selector";
@use "sass:string";

$dark-goldenrod-name:   string.quote("dark-goldenrod");



$dark-goldenrod: #B8860B;

$dark-goldenrod-50:     Lighter($dark-goldenrod, percentage(4.5, 5));
$dark-goldenrod-100:    Lighter($dark-goldenrod, percentage(4, 5));
$dark-goldenrod-200:    Lighter($dark-goldenrod, percentage(3, 5));
$dark-goldenrod-300:    Lighter($dark-goldenrod, percentage(2, 5));
$dark-goldenrod-400:    Lighter($dark-goldenrod, percentage(1, 5));
$dark-goldenrod-500:    var(selector.append($variable-prefix, $dark-goldenrod-name));
$dark-goldenrod-600:    Darker($dark-goldenrod, percentage(1, 5));
$dark-goldenrod-700:    Darker($dark-goldenrod, percentage(2, 5));
$dark-goldenrod-800:    Darker($dark-goldenrod, percentage(3, 5));
$dark-goldenrod-900:    Darker($dark-goldenrod, percentage(4, 5));
$dark-goldenrod-950:    Darker($dark-goldenrod, percentage(4.5, 5));



$dark-goldenrods: (
    "50":   $dark-goldenrod-50,
    "100":  $dark-goldenrod-100,
    "200":  $dark-goldenrod-200,
    "300":  $dark-goldenrod-300,
    "400":  $dark-goldenrod-400,
    "500":  $dark-goldenrod-500,
    "600":  $dark-goldenrod-600,
    "700":  $dark-goldenrod-700,
    "800":  $dark-goldenrod-800,
    "900":  $dark-goldenrod-900,
    "950":  $dark-goldenrod-950
);