@use "sass:selector";
@use "sass:string";

$goldenrod-name: string.quote("goldenrod");



$goldenrod: #DAA520;

$goldenrod-50:  Lighter($goldenrod, percentage(4.5, 5));
$goldenrod-100: Lighter($goldenrod, percentage(4, 5));
$goldenrod-200: Lighter($goldenrod, percentage(3, 5));
$goldenrod-300: Lighter($goldenrod, percentage(2, 5));
$goldenrod-400: Lighter($goldenrod, percentage(1, 5));
$goldenrod-500: var(selector.append($variable-prefix, $goldenrod-name));
$goldenrod-600: Darker($goldenrod, percentage(1, 5));
$goldenrod-700: Darker($goldenrod, percentage(2, 5));
$goldenrod-800: Darker($goldenrod, percentage(3, 5));
$goldenrod-900: Darker($goldenrod, percentage(4, 5));
$goldenrod-950: Darker($goldenrod, percentage(4.5, 5));



$goldenrods: (
    "50":   $goldenrod-50,
    "100":  $goldenrod-100,
    "200":  $goldenrod-200,
    "300":  $goldenrod-300,
    "400":  $goldenrod-400,
    "500":  $goldenrod-500,
    "600":  $goldenrod-600,
    "700":  $goldenrod-700,
    "800":  $goldenrod-800,
    "900":  $goldenrod-900,
    "950":  $goldenrod-950
);