$forest-green-darker-1:     Darker($forest-green, $percentage-small-15);
$forest-green-darker-2:     Darker($forest-green, $percentage-small-14);
$forest-green-darker-3:     Darker($forest-green, $percentage-small-13);
$forest-green-darker-4:     Darker($forest-green, $percentage-small-12);
$forest-green-darker-5:     Darker($forest-green, $percentage-small-11);
$forest-green-darker-6:     Darker($forest-green, $percentage-small-10);
$forest-green-darker-7:     Darker($forest-green, $percentage-small-9);
$forest-green-darker-8:     Darker($forest-green, $percentage-small-8);
$forest-green-darker-9:     Darker($forest-green, $percentage-small-7);
$forest-green-darker-10:    Darker($forest-green, $percentage-small-6);
$forest-green-darker-11:    Darker($forest-green, $percentage-small-5);
$forest-green-darker-12:    Darker($forest-green, $percentage-small-4);
$forest-green-darker-13:    Darker($forest-green, $percentage-small-3);
$forest-green-darker-14:    Darker($forest-green, $percentage-small-2);
$forest-green-darker-15:    Darker($forest-green, $percentage-small-1);



$forest-green-darkers: (
    "1":    $forest-green-darker-1,
    "2":    $forest-green-darker-2,
    "3":    $forest-green-darker-3,
    "4":    $forest-green-darker-4,
    "5":    $forest-green-darker-5,
    "6":    $forest-green-darker-6,
    "7":    $forest-green-darker-7,
    "8":    $forest-green-darker-8,
    "9":    $forest-green-darker-9,
    "10":   $forest-green-darker-10,
    "11":   $forest-green-darker-11,
    "12":   $forest-green-darker-12,
    "13":   $forest-green-darker-13,
    "14":   $forest-green-darker-14,
    "15":   $forest-green-darker-15
);