$forest-green-lighter-1:    Lighter($forest-green, $percentage-small-15);
$forest-green-lighter-2:    Lighter($forest-green, $percentage-small-14);
$forest-green-lighter-3:    Lighter($forest-green, $percentage-small-13);
$forest-green-lighter-4:    Lighter($forest-green, $percentage-small-12);
$forest-green-lighter-5:    Lighter($forest-green, $percentage-small-11);
$forest-green-lighter-6:    Lighter($forest-green, $percentage-small-10);
$forest-green-lighter-7:    Lighter($forest-green, $percentage-small-9);
$forest-green-lighter-8:    Lighter($forest-green, $percentage-small-8);
$forest-green-lighter-9:    Lighter($forest-green, $percentage-small-7);
$forest-green-lighter-10:   Lighter($forest-green, $percentage-small-6);
$forest-green-lighter-11:   Lighter($forest-green, $percentage-small-5);
$forest-green-lighter-12:   Lighter($forest-green, $percentage-small-4);
$forest-green-lighter-13:   Lighter($forest-green, $percentage-small-3);
$forest-green-lighter-14:   Lighter($forest-green, $percentage-small-2);
$forest-green-lighter-15:   Lighter($forest-green, $percentage-small-1);



$forest-green-lighters: (
    "1":    $forest-green-lighter-1,
    "2":    $forest-green-lighter-2,
    "3":    $forest-green-lighter-3,
    "4":    $forest-green-lighter-4,
    "5":    $forest-green-lighter-5,
    "6":    $forest-green-lighter-6,
    "7":    $forest-green-lighter-7,
    "8":    $forest-green-lighter-8,
    "9":    $forest-green-lighter-9,
    "10":   $forest-green-lighter-10,
    "11":   $forest-green-lighter-11,
    "12":   $forest-green-lighter-12,
    "13":   $forest-green-lighter-13,
    "14":   $forest-green-lighter-14,
    "15":   $forest-green-lighter-15
);