$gold-darker-1:     Darker($gold, $percentage-small-15);
$gold-darker-2:     Darker($gold, $percentage-small-14);
$gold-darker-3:     Darker($gold, $percentage-small-13);
$gold-darker-4:     Darker($gold, $percentage-small-12);
$gold-darker-5:     Darker($gold, $percentage-small-11);
$gold-darker-6:     Darker($gold, $percentage-small-10);
$gold-darker-7:     Darker($gold, $percentage-small-9);
$gold-darker-8:     Darker($gold, $percentage-small-8);
$gold-darker-9:     Darker($gold, $percentage-small-7);
$gold-darker-10:    Darker($gold, $percentage-small-6);
$gold-darker-11:    Darker($gold, $percentage-small-5);
$gold-darker-12:    Darker($gold, $percentage-small-4);
$gold-darker-13:    Darker($gold, $percentage-small-3);
$gold-darker-14:    Darker($gold, $percentage-small-2);
$gold-darker-15:    Darker($gold, $percentage-small-1);



$gold-darkers: (
    "1":    $gold-darker-1,
    "2":    $gold-darker-2,
    "3":    $gold-darker-3,
    "4":    $gold-darker-4,
    "5":    $gold-darker-5,
    "6":    $gold-darker-6,
    "7":    $gold-darker-7,
    "8":    $gold-darker-8,
    "9":    $gold-darker-9,
    "10":   $gold-darker-10,
    "11":   $gold-darker-11,
    "12":   $gold-darker-12,
    "13":   $gold-darker-13,
    "14":   $gold-darker-14,
    "15":   $gold-darker-15
);