$safety-purple-darker-1:    Darker($safety-purple, $percentage-small-15);
$safety-purple-darker-2:    Darker($safety-purple, $percentage-small-14);
$safety-purple-darker-3:    Darker($safety-purple, $percentage-small-13);
$safety-purple-darker-4:    Darker($safety-purple, $percentage-small-12);
$safety-purple-darker-5:    Darker($safety-purple, $percentage-small-11);
$safety-purple-darker-6:    Darker($safety-purple, $percentage-small-10);
$safety-purple-darker-7:    Darker($safety-purple, $percentage-small-9);
$safety-purple-darker-8:    Darker($safety-purple, $percentage-small-8);
$safety-purple-darker-9:    Darker($safety-purple, $percentage-small-7);
$safety-purple-darker-10:   Darker($safety-purple, $percentage-small-6);
$safety-purple-darker-11:   Darker($safety-purple, $percentage-small-5);
$safety-purple-darker-12:   Darker($safety-purple, $percentage-small-4);
$safety-purple-darker-13:   Darker($safety-purple, $percentage-small-3);
$safety-purple-darker-14:   Darker($safety-purple, $percentage-small-2);
$safety-purple-darker-15:   Darker($safety-purple, $percentage-small-1);



$safety-purple-darkers: (
    "1":    $safety-purple-darker-1,
    "2":    $safety-purple-darker-2,
    "3":    $safety-purple-darker-3,
    "4":    $safety-purple-darker-4,
    "5":    $safety-purple-darker-5,
    "6":    $safety-purple-darker-6,
    "7":    $safety-purple-darker-7,
    "8":    $safety-purple-darker-8,
    "9":    $safety-purple-darker-9,
    "10":   $safety-purple-darker-10,
    "11":   $safety-purple-darker-11,
    "12":   $safety-purple-darker-12,
    "13":   $safety-purple-darker-13,
    "14":   $safety-purple-darker-14,
    "15":   $safety-purple-darker-15
);