@use "sass:selector";
@use "sass:string";

$yellow-green-name: string.quote("yellow-green");



$yellow-green:  #9ACD32;

$yellow-green-50:   Lighter($yellow-green, percentage(4.5, 5));
$yellow-green-100:  Lighter($yellow-green, percentage(4, 5));
$yellow-green-200:  Lighter($yellow-green, percentage(3, 5));
$yellow-green-300:  Lighter($yellow-green, percentage(2, 5));
$yellow-green-400:  Lighter($yellow-green, percentage(1, 5));
$yellow-green-500:  var(selector.append($variable-prefix, $yellow-green-name));
$yellow-green-600:  Darker($yellow-green, percentage(1, 5));
$yellow-green-700:  Darker($yellow-green, percentage(2, 5));
$yellow-green-800:  Darker($yellow-green, percentage(3, 5));
$yellow-green-900:  Darker($yellow-green, percentage(4, 5));
$yellow-green-950:  Darker($yellow-green, percentage(4.5, 5));



$yellow-greens: (
    "50":   $yellow-green-50,
    "100":  $yellow-green-100,
    "200":  $yellow-green-200,
    "300":  $yellow-green-300,
    "400":  $yellow-green-400,
    "500":  $yellow-green-500,
    "600":  $yellow-green-600,
    "700":  $yellow-green-700,
    "800":  $yellow-green-800,
    "900":  $yellow-green-900,
    "950":  $yellow-green-950
);