$dark-cyan-darker-1:    Darker($dark-cyan, percentage(1, 16));
$dark-cyan-darker-2:    Darker($dark-cyan, percentage(2, 16));
$dark-cyan-darker-3:    Darker($dark-cyan, percentage(3, 16));
$dark-cyan-darker-4:    Darker($dark-cyan, percentage(4, 16));
$dark-cyan-darker-5:    Darker($dark-cyan, percentage(5, 16));
$dark-cyan-darker-6:    Darker($dark-cyan, percentage(6, 16));
$dark-cyan-darker-7:    Darker($dark-cyan, percentage(7, 16));
$dark-cyan-darker-8:    Darker($dark-cyan, percentage(8, 16));
$dark-cyan-darker-9:    Darker($dark-cyan, percentage(9, 16));
$dark-cyan-darker-10:   Darker($dark-cyan, percentage(10, 16));
$dark-cyan-darker-11:   Darker($dark-cyan, percentage(11, 16));
$dark-cyan-darker-12:   Darker($dark-cyan, percentage(12, 16));
$dark-cyan-darker-13:   Darker($dark-cyan, percentage(13, 16));
$dark-cyan-darker-14:   Darker($dark-cyan, percentage(14, 16));
$dark-cyan-darker-15:   Darker($dark-cyan, percentage(15, 16));



$dark-cyan-darkers: (
    "1":    $dark-cyan-darker-1,
    "2":    $dark-cyan-darker-2,
    "3":    $dark-cyan-darker-3,
    "4":    $dark-cyan-darker-4,
    "5":    $dark-cyan-darker-5,
    "6":    $dark-cyan-darker-6,
    "7":    $dark-cyan-darker-7,
    "8":    $dark-cyan-darker-8,
    "9":    $dark-cyan-darker-9,
    "10":   $dark-cyan-darker-10,
    "11":   $dark-cyan-darker-11,
    "12":   $dark-cyan-darker-12,
    "13":   $dark-cyan-darker-13,
    "14":   $dark-cyan-darker-14,
    "15":   $dark-cyan-darker-15
);