$dark-cyan-lighter-1:   Lighter($dark-cyan, percentage(1, 16));
$dark-cyan-lighter-2:   Lighter($dark-cyan, percentage(2, 16));
$dark-cyan-lighter-3:   Lighter($dark-cyan, percentage(3, 16));
$dark-cyan-lighter-4:   Lighter($dark-cyan, percentage(4, 16));
$dark-cyan-lighter-5:   Lighter($dark-cyan, percentage(5, 16));
$dark-cyan-lighter-6:   Lighter($dark-cyan, percentage(6, 16));
$dark-cyan-lighter-7:   Lighter($dark-cyan, percentage(7, 16));
$dark-cyan-lighter-8:   Lighter($dark-cyan, percentage(8, 16));
$dark-cyan-lighter-9:   Lighter($dark-cyan, percentage(9, 16));
$dark-cyan-lighter-10:  Lighter($dark-cyan, percentage(10, 16));
$dark-cyan-lighter-11:  Lighter($dark-cyan, percentage(11, 16));
$dark-cyan-lighter-12:  Lighter($dark-cyan, percentage(12, 16));
$dark-cyan-lighter-13:  Lighter($dark-cyan, percentage(13, 16));
$dark-cyan-lighter-14:  Lighter($dark-cyan, percentage(14, 16));
$dark-cyan-lighter-15:  Lighter($dark-cyan, percentage(15, 16));



$dark-cyan-lighters: (
    "1":    $dark-cyan-lighter-1,
    "2":    $dark-cyan-lighter-2,
    "3":    $dark-cyan-lighter-3,
    "4":    $dark-cyan-lighter-4,
    "5":    $dark-cyan-lighter-5,
    "6":    $dark-cyan-lighter-6,
    "7":    $dark-cyan-lighter-7,
    "8":    $dark-cyan-lighter-8,
    "9":    $dark-cyan-lighter-9,
    "10":   $dark-cyan-lighter-10,
    "11":   $dark-cyan-lighter-11,
    "12":   $dark-cyan-lighter-12,
    "13":   $dark-cyan-lighter-13,
    "14":   $dark-cyan-lighter-14,
    "15":   $dark-cyan-lighter-15
);