$pixel-big-1:   17px;
$pixel-big-2:   18px;
$pixel-big-3:   19px;
$pixel-big-4:   20px;
$pixel-big-5:   21px;
$pixel-big-6:   22px;
$pixel-big-7:   23px;
$pixel-big-8:   24px;
$pixel-big-9:   25px;
$pixel-big-10:  26px;
$pixel-big-11:  27px;
$pixel-big-12:  28px;
$pixel-big-13:  29px;
$pixel-big-14:  30px;
$pixel-big-15:  31px;
$pixel-big-16:  32px;
$pixel-big-17:  33px;
$pixel-big-18:  34px;
$pixel-big-19:  35px;
$pixel-big-20:  36px;



$pixel-bigs: (
    "1":    $pixel-big-1,
    "2":    $pixel-big-2,
    "3":    $pixel-big-3,
    "4":    $pixel-big-4,
    "5":    $pixel-big-5,
    "6":    $pixel-big-6,
    "7":    $pixel-big-7,
    "8":    $pixel-big-8,
    "9":    $pixel-big-9,
    "10":   $pixel-big-10,
    "11":   $pixel-big-11,
    "12":   $pixel-big-12,
    "13":   $pixel-big-13,
    "14":   $pixel-big-14,
    "15":   $pixel-big-15,
    "16":   $pixel-big-16,
    "17":   $pixel-big-17,
    "18":   $pixel-big-18,
    "19":   $pixel-big-19,
    "20":   $pixel-big-20
);