$highway-brown-lighter-1:   Lighter($highway-brown, percentage(1, 16));
$highway-brown-lighter-2:   Lighter($highway-brown, percentage(2, 16));
$highway-brown-lighter-3:   Lighter($highway-brown, percentage(3, 16));
$highway-brown-lighter-4:   Lighter($highway-brown, percentage(4, 16));
$highway-brown-lighter-5:   Lighter($highway-brown, percentage(5, 16));
$highway-brown-lighter-6:   Lighter($highway-brown, percentage(6, 16));
$highway-brown-lighter-7:   Lighter($highway-brown, percentage(7, 16));
$highway-brown-lighter-8:   Lighter($highway-brown, percentage(8, 16));
$highway-brown-lighter-9:   Lighter($highway-brown, percentage(9, 16));
$highway-brown-lighter-10:  Lighter($highway-brown, percentage(10, 16));
$highway-brown-lighter-11:  Lighter($highway-brown, percentage(11, 16));
$highway-brown-lighter-12:  Lighter($highway-brown, percentage(12, 16));
$highway-brown-lighter-13:  Lighter($highway-brown, percentage(13, 16));
$highway-brown-lighter-14:  Lighter($highway-brown, percentage(14, 16));
$highway-brown-lighter-15:  Lighter($highway-brown, percentage(15, 16));



$highway-brown-lighters: (
    "1":    $highway-brown-lighter-1,
    "2":    $highway-brown-lighter-2,
    "3":    $highway-brown-lighter-3,
    "4":    $highway-brown-lighter-4,
    "5":    $highway-brown-lighter-5,
    "6":    $highway-brown-lighter-6,
    "7":    $highway-brown-lighter-7,
    "8":    $highway-brown-lighter-8,
    "9":    $highway-brown-lighter-9,
    "10":   $highway-brown-lighter-10,
    "11":   $highway-brown-lighter-11,
    "12":   $highway-brown-lighter-12,
    "13":   $highway-brown-lighter-13,
    "14":   $highway-brown-lighter-14,
    "15":   $highway-brown-lighter-15
);