@use "sass:selector";
@use "sass:string";

$dark-turquoise-name:   string.quote("dark-turquoise");



$dark-turquoise: #00CED1;

$dark-turquoise-50:     Lighter($dark-turquoise, percentage(4.5, 5));
$dark-turquoise-100:    Lighter($dark-turquoise, percentage(4, 5));
$dark-turquoise-200:    Lighter($dark-turquoise, percentage(3, 5));
$dark-turquoise-300:    Lighter($dark-turquoise, percentage(2, 5));
$dark-turquoise-400:    Lighter($dark-turquoise, percentage(1, 5));
$dark-turquoise-500:    var(selector.append($variable-prefix, $dark-turquoise-name));
$dark-turquoise-600:    Darker($dark-turquoise, percentage(1, 5));
$dark-turquoise-700:    Darker($dark-turquoise, percentage(2, 5));
$dark-turquoise-800:    Darker($dark-turquoise, percentage(3, 5));
$dark-turquoise-900:    Darker($dark-turquoise, percentage(4, 5));
$dark-turquoise-950:    Darker($dark-turquoise, percentage(4.5, 5));



$dark-turquoises: (
    "50":   $dark-turquoise-50,
    "100":  $dark-turquoise-100,
    "200":  $dark-turquoise-200,
    "300":  $dark-turquoise-300,
    "400":  $dark-turquoise-400,
    "500":  $dark-turquoise-500,
    "600":  $dark-turquoise-600,
    "700":  $dark-turquoise-700,
    "800":  $dark-turquoise-800,
    "900":  $dark-turquoise-900,
    "950":  $dark-turquoise-950
);