@use "sass:selector";
@use "sass:string";

$turquoise-name:    string.quote("turquoise");



$turquoise: #40E0D0;

$turquoise-50:  Lighter($turquoise, percentage(4.5, 5));
$turquoise-100: Lighter($turquoise, percentage(4, 5));
$turquoise-200: Lighter($turquoise, percentage(3, 5));
$turquoise-300: Lighter($turquoise, percentage(2, 5));
$turquoise-400: Lighter($turquoise, percentage(1, 5));
$turquoise-500: var(selector.append($variable-prefix, $turquoise-name));
$turquoise-600: Darker($turquoise, percentage(1, 5));
$turquoise-700: Darker($turquoise, percentage(2, 5));
$turquoise-800: Darker($turquoise, percentage(3, 5));
$turquoise-900: Darker($turquoise, percentage(4, 5));
$turquoise-950: Darker($turquoise, percentage(4.5, 5));



$turquoises: (
    "50":   $turquoise-50,
    "100":  $turquoise-100,
    "200":  $turquoise-200,
    "300":  $turquoise-300,
    "400":  $turquoise-400,
    "500":  $turquoise-500,
    "600":  $turquoise-600,
    "700":  $turquoise-700,
    "800":  $turquoise-800,
    "900":  $turquoise-900,
    "950":  $turquoise-950
);