$pink-darker-1:     Darker($pink, $percentage-small-15);
$pink-darker-2:     Darker($pink, $percentage-small-14);
$pink-darker-3:     Darker($pink, $percentage-small-13);
$pink-darker-4:     Darker($pink, $percentage-small-12);
$pink-darker-5:     Darker($pink, $percentage-small-11);
$pink-darker-6:     Darker($pink, $percentage-small-10);
$pink-darker-7:     Darker($pink, $percentage-small-9);
$pink-darker-8:     Darker($pink, $percentage-small-8);
$pink-darker-9:     Darker($pink, $percentage-small-7);
$pink-darker-10:    Darker($pink, $percentage-small-6);
$pink-darker-11:    Darker($pink, $percentage-small-5);
$pink-darker-12:    Darker($pink, $percentage-small-4);
$pink-darker-13:    Darker($pink, $percentage-small-3);
$pink-darker-14:    Darker($pink, $percentage-small-2);
$pink-darker-15:    Darker($pink, $percentage-small-1);



$pink-darkers: (
    "1":    $pink-darker-1,
    "2":    $pink-darker-2,
    "3":    $pink-darker-3,
    "4":    $pink-darker-4,
    "5":    $pink-darker-5,
    "6":    $pink-darker-6,
    "7":    $pink-darker-7,
    "8":    $pink-darker-8,
    "9":    $pink-darker-9,
    "10":   $pink-darker-10,
    "11":   $pink-darker-11,
    "12":   $pink-darker-12,
    "13":   $pink-darker-13,
    "14":   $pink-darker-14,
    "15":   $pink-darker-15
);