$olive-drab-darker-1:   Darker($olive-drab, $percentage-small-15);
$olive-drab-darker-2:   Darker($olive-drab, $percentage-small-14);
$olive-drab-darker-3:   Darker($olive-drab, $percentage-small-13);
$olive-drab-darker-4:   Darker($olive-drab, $percentage-small-12);
$olive-drab-darker-5:   Darker($olive-drab, $percentage-small-11);
$olive-drab-darker-6:   Darker($olive-drab, $percentage-small-10);
$olive-drab-darker-7:   Darker($olive-drab, $percentage-small-9);
$olive-drab-darker-8:   Darker($olive-drab, $percentage-small-8);
$olive-drab-darker-9:   Darker($olive-drab, $percentage-small-7);
$olive-drab-darker-10:  Darker($olive-drab, $percentage-small-6);
$olive-drab-darker-11:  Darker($olive-drab, $percentage-small-5);
$olive-drab-darker-12:  Darker($olive-drab, $percentage-small-4);
$olive-drab-darker-13:  Darker($olive-drab, $percentage-small-3);
$olive-drab-darker-14:  Darker($olive-drab, $percentage-small-2);
$olive-drab-darker-15:  Darker($olive-drab, $percentage-small-1);



$olive-drab-darkers: (
    "1":    $olive-drab-darker-1,
    "2":    $olive-drab-darker-2,
    "3":    $olive-drab-darker-3,
    "4":    $olive-drab-darker-4,
    "5":    $olive-drab-darker-5,
    "6":    $olive-drab-darker-6,
    "7":    $olive-drab-darker-7,
    "8":    $olive-drab-darker-8,
    "9":    $olive-drab-darker-9,
    "10":   $olive-drab-darker-10,
    "11":   $olive-drab-darker-11,
    "12":   $olive-drab-darker-12,
    "13":   $olive-drab-darker-13,
    "14":   $olive-drab-darker-14,
    "15":   $olive-drab-darker-15
);