$olive-drab-lighter-1:  Lighter($olive-drab, percentage(1, 16));
$olive-drab-lighter-2:  Lighter($olive-drab, percentage(2, 16));
$olive-drab-lighter-3:  Lighter($olive-drab, percentage(3, 16));
$olive-drab-lighter-4:  Lighter($olive-drab, percentage(4, 16));
$olive-drab-lighter-5:  Lighter($olive-drab, percentage(5, 16));
$olive-drab-lighter-6:  Lighter($olive-drab, percentage(6, 16));
$olive-drab-lighter-7:  Lighter($olive-drab, percentage(7, 16));
$olive-drab-lighter-8:  Lighter($olive-drab, percentage(8, 16));
$olive-drab-lighter-9:  Lighter($olive-drab, percentage(9, 16));
$olive-drab-lighter-10: Lighter($olive-drab, percentage(10, 16));
$olive-drab-lighter-11: Lighter($olive-drab, percentage(11, 16));
$olive-drab-lighter-12: Lighter($olive-drab, percentage(12, 16));
$olive-drab-lighter-13: Lighter($olive-drab, percentage(13, 16));
$olive-drab-lighter-14: Lighter($olive-drab, percentage(14, 16));
$olive-drab-lighter-15: Lighter($olive-drab, percentage(15, 16));



$olive-drab-lighters: (
    "1":    $olive-drab-lighter-1,
    "2":    $olive-drab-lighter-2,
    "3":    $olive-drab-lighter-3,
    "4":    $olive-drab-lighter-4,
    "5":    $olive-drab-lighter-5,
    "6":    $olive-drab-lighter-6,
    "7":    $olive-drab-lighter-7,
    "8":    $olive-drab-lighter-8,
    "9":    $olive-drab-lighter-9,
    "10":   $olive-drab-lighter-10,
    "11":   $olive-drab-lighter-11,
    "12":   $olive-drab-lighter-12,
    "13":   $olive-drab-lighter-13,
    "14":   $olive-drab-lighter-14,
    "15":   $olive-drab-lighter-15
);