@use "sass:selector";
@use "sass:string";

$medium-sea-green-name: string.quote("medium-sea-green");



$medium-sea-green:    #3CB371;

$medium-sea-green-50:   Lighter($medium-sea-green, percentage(4.5, 5));
$medium-sea-green-100:  Lighter($medium-sea-green, percentage(4, 5));
$medium-sea-green-200:  Lighter($medium-sea-green, percentage(3, 5));
$medium-sea-green-300:  Lighter($medium-sea-green, percentage(2, 5));
$medium-sea-green-400:  Lighter($medium-sea-green, percentage(1, 5));
$medium-sea-green-500:  var(selector.append($variable-prefix, $medium-sea-green-name));
$medium-sea-green-600:  Darker($medium-sea-green, percentage(1, 5));
$medium-sea-green-700:  Darker($medium-sea-green, percentage(2, 5));
$medium-sea-green-800:  Darker($medium-sea-green, percentage(3, 5));
$medium-sea-green-900:  Darker($medium-sea-green, percentage(4, 5));
$medium-sea-green-950:  Darker($medium-sea-green, percentage(4.5, 5));



$medium-sea-greens: (
    "50":   $medium-sea-green-50,
    "100":  $medium-sea-green-100,
    "200":  $medium-sea-green-200,
    "300":  $medium-sea-green-300,
    "400":  $medium-sea-green-400,
    "500":  $medium-sea-green-500,
    "600":  $medium-sea-green-600,
    "700":  $medium-sea-green-700,
    "800":  $medium-sea-green-800,
    "900":  $medium-sea-green-900,
    "950":  $medium-sea-green-950
);