@use "sass:selector";
@use "sass:string";

$sea-green-name:    string.quote("sea-green");



$sea-green: #2E8B57;

$sea-green-50:  Lighter($sea-green, percentage(4.5, 5));
$sea-green-100: Lighter($sea-green, percentage(4, 5));
$sea-green-200: Lighter($sea-green, percentage(3, 5));
$sea-green-300: Lighter($sea-green, percentage(2, 5));
$sea-green-400: Lighter($sea-green, percentage(1, 5));
$sea-green-500: var(selector.append($variable-prefix, $sea-green-name));
$sea-green-600: Darker($sea-green, percentage(1, 5));
$sea-green-700: Darker($sea-green, percentage(2, 5));
$sea-green-800: Darker($sea-green, percentage(3, 5));
$sea-green-900: Darker($sea-green, percentage(4, 5));
$sea-green-950: Darker($sea-green, percentage(4.5, 5));



$sea-greens: (
    "50":   $sea-green-50,
    "100":  $sea-green-100,
    "200":  $sea-green-200,
    "300":  $sea-green-300,
    "400":  $sea-green-400,
    "500":  $sea-green-500,
    "600":  $sea-green-600,
    "700":  $sea-green-700,
    "800":  $sea-green-800,
    "900":  $sea-green-900,
    "950":  $sea-green-950
);