$highway-orange-darker-1:   Darker($highway-orange, $percentage-small-15);
$highway-orange-darker-2:   Darker($highway-orange, $percentage-small-14);
$highway-orange-darker-3:   Darker($highway-orange, $percentage-small-13);
$highway-orange-darker-4:   Darker($highway-orange, $percentage-small-12);
$highway-orange-darker-5:   Darker($highway-orange, $percentage-small-11);
$highway-orange-darker-6:   Darker($highway-orange, $percentage-small-10);
$highway-orange-darker-7:   Darker($highway-orange, $percentage-small-9);
$highway-orange-darker-8:   Darker($highway-orange, $percentage-small-8);
$highway-orange-darker-9:   Darker($highway-orange, $percentage-small-7);
$highway-orange-darker-10:  Darker($highway-orange, $percentage-small-6);
$highway-orange-darker-11:  Darker($highway-orange, $percentage-small-5);
$highway-orange-darker-12:  Darker($highway-orange, $percentage-small-4);
$highway-orange-darker-13:  Darker($highway-orange, $percentage-small-3);
$highway-orange-darker-14:  Darker($highway-orange, $percentage-small-2);
$highway-orange-darker-15:  Darker($highway-orange, $percentage-small-1);



$highway-orange-darkers: (
    "1":    $highway-orange-darker-1,
    "2":    $highway-orange-darker-2,
    "3":    $highway-orange-darker-3,
    "4":    $highway-orange-darker-4,
    "5":    $highway-orange-darker-5,
    "6":    $highway-orange-darker-6,
    "7":    $highway-orange-darker-7,
    "8":    $highway-orange-darker-8,
    "9":    $highway-orange-darker-9,
    "10":   $highway-orange-darker-10,
    "11":   $highway-orange-darker-11,
    "12":   $highway-orange-darker-12,
    "13":   $highway-orange-darker-13,
    "14":   $highway-orange-darker-14,
    "15":   $highway-orange-darker-15
);