$hot-pink-lighter-1:    Lighter($hot-pink, $percentage-small-15);
$hot-pink-lighter-2:    Lighter($hot-pink, $percentage-small-14);
$hot-pink-lighter-3:    Lighter($hot-pink, $percentage-small-13);
$hot-pink-lighter-4:    Lighter($hot-pink, $percentage-small-12);
$hot-pink-lighter-5:    Lighter($hot-pink, $percentage-small-11);
$hot-pink-lighter-6:    Lighter($hot-pink, $percentage-small-10);
$hot-pink-lighter-7:    Lighter($hot-pink, $percentage-small-9);
$hot-pink-lighter-8:    Lighter($hot-pink, $percentage-small-8);
$hot-pink-lighter-9:    Lighter($hot-pink, $percentage-small-7);
$hot-pink-lighter-10:   Lighter($hot-pink, $percentage-small-6);
$hot-pink-lighter-11:   Lighter($hot-pink, $percentage-small-5);
$hot-pink-lighter-12:   Lighter($hot-pink, $percentage-small-4);
$hot-pink-lighter-13:   Lighter($hot-pink, $percentage-small-3);
$hot-pink-lighter-14:   Lighter($hot-pink, $percentage-small-2);
$hot-pink-lighter-15:   Lighter($hot-pink, $percentage-small-1);



$hot-pink-lighters: (
    "1":    $hot-pink-lighter-1,
    "2":    $hot-pink-lighter-2,
    "3":    $hot-pink-lighter-3,
    "4":    $hot-pink-lighter-4,
    "5":    $hot-pink-lighter-5,
    "6":    $hot-pink-lighter-6,
    "7":    $hot-pink-lighter-7,
    "8":    $hot-pink-lighter-8,
    "9":    $hot-pink-lighter-9,
    "10":   $hot-pink-lighter-10,
    "11":   $hot-pink-lighter-11,
    "12":   $hot-pink-lighter-12,
    "13":   $hot-pink-lighter-13,
    "14":   $hot-pink-lighter-14,
    "15":   $hot-pink-lighter-15
);