$highway-green-darker-1:    Darker($highway-green, percentage(1, 16));
$highway-green-darker-2:    Darker($highway-green, percentage(2, 16));
$highway-green-darker-3:    Darker($highway-green, percentage(3, 16));
$highway-green-darker-4:    Darker($highway-green, percentage(4, 16));
$highway-green-darker-5:    Darker($highway-green, percentage(5, 16));
$highway-green-darker-6:    Darker($highway-green, percentage(6, 16));
$highway-green-darker-7:    Darker($highway-green, percentage(7, 16));
$highway-green-darker-8:    Darker($highway-green, percentage(8, 16));
$highway-green-darker-9:    Darker($highway-green, percentage(9, 16));
$highway-green-darker-10:   Darker($highway-green, percentage(10, 16));
$highway-green-darker-11:   Darker($highway-green, percentage(11, 16));
$highway-green-darker-12:   Darker($highway-green, percentage(12, 16));
$highway-green-darker-13:   Darker($highway-green, percentage(13, 16));
$highway-green-darker-14:   Darker($highway-green, percentage(14, 16));
$highway-green-darker-15:   Darker($highway-green, percentage(15, 16));



$highway-green-darkers: (
    "1":    $highway-green-darker-1,
    "2":    $highway-green-darker-2,
    "3":    $highway-green-darker-3,
    "4":    $highway-green-darker-4,
    "5":    $highway-green-darker-5,
    "6":    $highway-green-darker-6,
    "7":    $highway-green-darker-7,
    "8":    $highway-green-darker-8,
    "9":    $highway-green-darker-9,
    "10":   $highway-green-darker-10,
    "11":   $highway-green-darker-11,
    "12":   $highway-green-darker-12,
    "13":   $highway-green-darker-13,
    "14":   $highway-green-darker-14,
    "15":   $highway-green-darker-15
);