$highway-green-lighter-1:   Lighter($highway-green, percentage(1, 16));
$highway-green-lighter-2:   Lighter($highway-green, percentage(2, 16));
$highway-green-lighter-3:   Lighter($highway-green, percentage(3, 16));
$highway-green-lighter-4:   Lighter($highway-green, percentage(4, 16));
$highway-green-lighter-5:   Lighter($highway-green, percentage(5, 16));
$highway-green-lighter-6:   Lighter($highway-green, percentage(6, 16));
$highway-green-lighter-7:   Lighter($highway-green, percentage(7, 16));
$highway-green-lighter-8:   Lighter($highway-green, percentage(8, 16));
$highway-green-lighter-9:   Lighter($highway-green, percentage(9, 16));
$highway-green-lighter-10:  Lighter($highway-green, percentage(10, 16));
$highway-green-lighter-11:  Lighter($highway-green, percentage(11, 16));
$highway-green-lighter-12:  Lighter($highway-green, percentage(12, 16));
$highway-green-lighter-13:  Lighter($highway-green, percentage(13, 16));
$highway-green-lighter-14:  Lighter($highway-green, percentage(14, 16));
$highway-green-lighter-15:  Lighter($highway-green, percentage(15, 16));



$highway-green-lighters: (
    "1":    $highway-green-lighter-1,
    "2":    $highway-green-lighter-2,
    "3":    $highway-green-lighter-3,
    "4":    $highway-green-lighter-4,
    "5":    $highway-green-lighter-5,
    "6":    $highway-green-lighter-6,
    "7":    $highway-green-lighter-7,
    "8":    $highway-green-lighter-8,
    "9":    $highway-green-lighter-9,
    "10":   $highway-green-lighter-10,
    "11":   $highway-green-lighter-11,
    "12":   $highway-green-lighter-12,
    "13":   $highway-green-lighter-13,
    "14":   $highway-green-lighter-14,
    "15":   $highway-green-lighter-15
);