$highway-green-lighter-1:   Lighter($highway-green, $percentage-small-15);
$highway-green-lighter-2:   Lighter($highway-green, $percentage-small-14);
$highway-green-lighter-3:   Lighter($highway-green, $percentage-small-13);
$highway-green-lighter-4:   Lighter($highway-green, $percentage-small-12);
$highway-green-lighter-5:   Lighter($highway-green, $percentage-small-11);
$highway-green-lighter-6:   Lighter($highway-green, $percentage-small-10);
$highway-green-lighter-7:   Lighter($highway-green, $percentage-small-9);
$highway-green-lighter-8:   Lighter($highway-green, $percentage-small-8);
$highway-green-lighter-9:   Lighter($highway-green, $percentage-small-7);
$highway-green-lighter-10:  Lighter($highway-green, $percentage-small-6);
$highway-green-lighter-11:  Lighter($highway-green, $percentage-small-5);
$highway-green-lighter-12:  Lighter($highway-green, $percentage-small-4);
$highway-green-lighter-13:  Lighter($highway-green, $percentage-small-3);
$highway-green-lighter-14:  Lighter($highway-green, $percentage-small-2);
$highway-green-lighter-15:  Lighter($highway-green, $percentage-small-1);



$highway-green-lighters: (
    "1":    $highway-green-lighter-1,
    "2":    $highway-green-lighter-2,
    "3":    $highway-green-lighter-3,
    "4":    $highway-green-lighter-4,
    "5":    $highway-green-lighter-5,
    "6":    $highway-green-lighter-6,
    "7":    $highway-green-lighter-7,
    "8":    $highway-green-lighter-8,
    "9":    $highway-green-lighter-9,
    "10":   $highway-green-lighter-10,
    "11":   $highway-green-lighter-11,
    "12":   $highway-green-lighter-12,
    "13":   $highway-green-lighter-13,
    "14":   $highway-green-lighter-14,
    "15":   $highway-green-lighter-15
);