$slate-gray-lighter-1:  Lighter($slate-gray, $percentage-small-15);
$slate-gray-lighter-2:  Lighter($slate-gray, $percentage-small-14);
$slate-gray-lighter-3:  Lighter($slate-gray, $percentage-small-13);
$slate-gray-lighter-4:  Lighter($slate-gray, $percentage-small-12);
$slate-gray-lighter-5:  Lighter($slate-gray, $percentage-small-11);
$slate-gray-lighter-6:  Lighter($slate-gray, $percentage-small-10);
$slate-gray-lighter-7:  Lighter($slate-gray, $percentage-small-9);
$slate-gray-lighter-8:  Lighter($slate-gray, $percentage-small-8);
$slate-gray-lighter-9:  Lighter($slate-gray, $percentage-small-7);
$slate-gray-lighter-10: Lighter($slate-gray, $percentage-small-6);
$slate-gray-lighter-11: Lighter($slate-gray, $percentage-small-5);
$slate-gray-lighter-12: Lighter($slate-gray, $percentage-small-4);
$slate-gray-lighter-13: Lighter($slate-gray, $percentage-small-3);
$slate-gray-lighter-14: Lighter($slate-gray, $percentage-small-2);
$slate-gray-lighter-15: Lighter($slate-gray, $percentage-small-1);



$slate-gray-lighters: (
    "1":    $slate-gray-lighter-1,
    "2":    $slate-gray-lighter-2,
    "3":    $slate-gray-lighter-3,
    "4":    $slate-gray-lighter-4,
    "5":    $slate-gray-lighter-5,
    "6":    $slate-gray-lighter-6,
    "7":    $slate-gray-lighter-7,
    "8":    $slate-gray-lighter-8,
    "9":    $slate-gray-lighter-9,
    "10":   $slate-gray-lighter-10,
    "11":   $slate-gray-lighter-11,
    "12":   $slate-gray-lighter-12,
    "13":   $slate-gray-lighter-13,
    "14":   $slate-gray-lighter-14,
    "15":   $slate-gray-lighter-15
);