$darker: (
    $coral-name: (
        $coral-darkers
    ),
    $light-coral-name: (
        $light-coral-darkers
    ),
    
    $blue-name: (
        $blue-darkers
    ),
    $alice-blue-name: (
        $alice-blue-darkers
    ),
    $cadet-blue-name: (
        $cadet-blue-darkers
    ),
    $cornflower-blue-name: (
        $cornflower-blue-darkers
    ),
    $dark-blue-name: (
        $dark-blue-darkers
    ),
    $dodger-blue-name: (
        $dodger-blue-darkers
    ),
    $highway-blue-name: (
        $highway-blue-darkers
    ),
    $light-blue-name: (
        $light-blue-darkers
    ),
    $medium-blue-name: (
        $medium-blue-darkers
    ),
    $midnight-blue-name: (
        $midnight-blue-darkers
    ),
    $powder-blue-name: (
        $powder-blue-darkers
    ),
    $royal-blue-name: (
        $royal-blue-darkers
    ),
    $safety-blue-name: (
        $safety-blue-darkers
    ),
    $sky-blue-name: (
        $sky-blue-darkers
    ),
    $deep-sky-blue-name: (
        $deep-sky-blue-darkers
    ),
    $light-sky-blue-name: (
        $light-sky-blue-darkers
    ),
    $slate-blue-name: (
        $slate-blue-darkers
    ),
    $dark-slate-blue-name: (
        $dark-slate-blue-darkers
    ),
    $medium-slate-blue-name: (
        $medium-slate-blue-darkers
    ),
    $steel-blue-name: (
        $steel-blue-darkers
    ),
    $light-steel-blue-name: (
        $light-steel-blue-darkers
    ),
    
    $aqua-name: (
        $aqua-darkers
    ),
    
    $cyan-name: (
        $cyan-darkers
    ),
    $dark-cyan-name: (
        $dark-cyan-darkers
    ),
    $light-cyan-name: (
        $light-cyan-darkers
    ),

    $aquamarine-name: (
        $aquamarine-darkers
    ),
    $medium-aquamarine-name: (
        $medium-aquamarine-darkers
    ),

    $gold-name: (
        $gold-darkers
    ),

    $amber-name: (
        $amber-darkers
    ),
    
    
    $goldenrod-name: (
        $goldenrod-darkers
    ),
    $dark-goldenrod-name: (
        $dark-goldenrod-darkers
    ),

    $brown-name: (
        $brown-darkers
    ),
    $highway-brown-name: (
        $highway-brown-darkers
    ),
    $rosy-brown-name: (
        $rosy-brown-darkers
    ),
    $saddle-brown-name: (
        $saddle-brown-darkers
    ),
    $sandy-brown-name: (
        $sandy-brown-darkers
    )
);