$colors: (
    $dark-red-name:             $dark-red,
    $red-name:                  $red,
    $highway-red-name:          $highway-red,
    $indian-red-name:           $indian-red,
    $safety-red-name:           $safety-red,

    $coral-name:                $coral,
    $light-coral-name:          $light-coral,

    $salmon-name:               $salmon,
    $dark-salmon-name:          $dark-salmon,
    $light-salmon-name:         $light-salmon,

    $pink-name:                 $pink,
    $deep-pink-name:            $deep-pink,
    $hot-pink-name:             $hot-pink,
    $light-pink-name:           $light-pink,

    $medium-violet-red-name:    $medium-violet-red,
    $pale-violet-red-name:      $pale-violet-red,
    $violet-name:               $violet,
    $blue-violet-name:          $blue-violet,
    $dark-violet-name:          $dark-violet,

    $orchid-name:               $orchid,
    $dark-orchid-name:          $dark-orchid,
    $medium-orchid-name:        $medium-orchid,

    $magenta-name:              $magenta,
    $dark-magenta-name:         $dark-magenta,

    $purple-name:               $purple,
    $medium-purple-name:        $medium-purple,
    $safety-purple-name:        $safety-purple,

    $indigo-name:               $indigo,

    $blue-name:                 $blue,
    $alice-blue-name:           $alice-blue,
    $cadet-blue-name:           $cadet-blue,
    $cornflower-blue-name:      $cornflower-blue,
    $dark-blue-name:            $dark-blue,
    $dodger-blue-name:          $dodger-blue,
    $highway-blue-name:         $highway-blue,
    $light-blue-name:           $light_blue,
    $medium-blue-name:          $medium-blue,
    $midnight-blue-name:        $midnight-blue,
    $powder-blue-name:          $powder-blue,
    $royal-blue-name:           $royal-blue,
    $safety-blue-name:          $safety-blue,
    $sky-blue-name:             $sky-blue,
    $deep-sky-blue-name:        $deep-sky-blue,
    $light-sky-blue-name:       $light-sky-blue,
    $slate-blue-name:           $slate-blue,
    $dark-slate-blue-name:      $dark-slate-blue,
    $medium-slate-blue-name:    $medium-slate-blue,
    $steel-blue-name:           $steel-blue,
    $light-steel-blue-name:     $light-steel-blue,

    $aqua-name:                 $aqua,

    $cyan-name:                 $cyan,
    $dark-cyan-name:            $dark-cyan,
    $light-cyan-name:           $light-cyan,

    $aquamarine-name:           $aquamarine,
    $medium-aquamarine-name:    $medium-aquamarine,

    $turquoise-name:            $turquoise,
    $dark-turquoise-name:       $dark-turquoise,
    $medium-turquoise-name:     $medium-turquoise,
    $pale-turquoise-name:       $pale-turquoise,

    $teal-name:                 $teal,

    $green-name:                $green,
    $dark-green-name:           $dark-green,
    $forest-green-name:         $forest-green,
    $highway-green-name:        $highway-green,
    $lawn-green-name:           $lawn-green,
    $light-green-name:          $light_green,
    $dark-olive-green-name:     $dark-olive-green,
    $pale-green-name:           $pale-green,
    $safety-green-name:         $safety-green,
    $sea-green-name:            $sea-green,
    $dark-sea-green-name:       $dark-sea-green,
    $light-sea-green-name:      $light-sea-green,
    $medium-sea-green-name:     $medium-sea-green,
    $spring-green-name:         $spring-green,
    $medium-spring-green-name:  $medium-spring-green,

    $olive-name:                $olive,
    $olive-drab-name:           $olive-drab,

    $lime-green-name:           $lime-green,
    $lime-name:                 $lime,

    $yellow-green-name:         $yellow-green,
    $yellow-name:               $yellow,
    $highway-yellow-name:       $highway-yellow,
    $light-yellow-name:         $light-yellow,
    $safety-yellow-name:        $safety-yellow,

    $gold-name:                 $gold,

    $khaki-name:                $khaki,
    $dark-khaki-name:           $dark-khaki,

    $amber-name:                $amber,

    $goldenrod-name:            $goldenrod,
    $dark-goldenrod-name:       $dark-goldenrod,
    $pale-goldenrod-name:       $pale-goldenrod,

    $orange-name:               $orange,
    $dark-orange-name:          $dark-orange,
    $highway-orange-name:       $highway-orange,
    $orange-red-name:           $orange-red,
    $safety-orange-name:        $safety-orange,

    $brown-name:                $brown,
    $highway-brown-name:        $highway-brown,
    $rosy-brown-name:           $rosy-brown,
    $saddle-brown-name:         $saddle-brown,
    $sandy-brown-name:          $sandy-brown,

    $gray-name:                 $gray,
    $dark-gray-name:            $dark-gray,
    $dim-gray-name:             $dim-gray,
    $light-gray-name:           $light-gray,
    $slate-gray-name:           $slate-gray,
    $dark-slate-gray-name:      $dark-slate-gray,
    $light-slate-gray-name:     $light-slate-gray,

    $white-name:                $white,
    $antique-white-name:        $antique-white,
    $floral-white-name:         $floral-white,
    $ghost-white-name:          $ghost-white,
    $navajo-white-name:         $navajo-white,
    $white-smoke-name:          $white-smoke,

    $black-name:                $black,
    "transparent":              $transparent
);