$steel-blue-lighter-1:  Lighter($steel-blue, percentage(1, 16));
$steel-blue-lighter-2:  Lighter($steel-blue, percentage(2, 16));
$steel-blue-lighter-3:  Lighter($steel-blue, percentage(3, 16));
$steel-blue-lighter-4:  Lighter($steel-blue, percentage(4, 16));
$steel-blue-lighter-5:  Lighter($steel-blue, percentage(5, 16));
$steel-blue-lighter-6:  Lighter($steel-blue, percentage(6, 16));
$steel-blue-lighter-7:  Lighter($steel-blue, percentage(7, 16));
$steel-blue-lighter-8:  Lighter($steel-blue, percentage(8, 16));
$steel-blue-lighter-9:  Lighter($steel-blue, percentage(9, 16));
$steel-blue-lighter-10: Lighter($steel-blue, percentage(10, 16));
$steel-blue-lighter-11: Lighter($steel-blue, percentage(11, 16));
$steel-blue-lighter-12: Lighter($steel-blue, percentage(12, 16));
$steel-blue-lighter-13: Lighter($steel-blue, percentage(13, 16));
$steel-blue-lighter-14: Lighter($steel-blue, percentage(14, 16));
$steel-blue-lighter-15: Lighter($steel-blue, percentage(15, 16));



$steel-blue-lighters: (
    "1":    $steel-blue-lighter-1,
    "2":    $steel-blue-lighter-2,
    "3":    $steel-blue-lighter-3,
    "4":    $steel-blue-lighter-4,
    "5":    $steel-blue-lighter-5,
    "6":    $steel-blue-lighter-6,
    "7":    $steel-blue-lighter-7,
    "8":    $steel-blue-lighter-8,
    "9":    $steel-blue-lighter-9,
    "10":   $steel-blue-lighter-10,
    "11":   $steel-blue-lighter-11,
    "12":   $steel-blue-lighter-12,
    "13":   $steel-blue-lighter-13,
    "14":   $steel-blue-lighter-14,
    "15":   $steel-blue-lighter-15
);