$khaki-darker-1:    Darker($khaki, $percentage-small-15);
$khaki-darker-2:    Darker($khaki, $percentage-small-14);
$khaki-darker-3:    Darker($khaki, $percentage-small-13);
$khaki-darker-4:    Darker($khaki, $percentage-small-12);
$khaki-darker-5:    Darker($khaki, $percentage-small-11);
$khaki-darker-6:    Darker($khaki, $percentage-small-10);
$khaki-darker-7:    Darker($khaki, $percentage-small-9);
$khaki-darker-8:    Darker($khaki, $percentage-small-8);
$khaki-darker-9:    Darker($khaki, $percentage-small-7);
$khaki-darker-10:   Darker($khaki, $percentage-small-6);
$khaki-darker-11:   Darker($khaki, $percentage-small-5);
$khaki-darker-12:   Darker($khaki, $percentage-small-4);
$khaki-darker-13:   Darker($khaki, $percentage-small-3);
$khaki-darker-14:   Darker($khaki, $percentage-small-2);
$khaki-darker-15:   Darker($khaki, $percentage-small-1);



$khaki-darkers: (
    "1":    $khaki-darker-1,
    "2":    $khaki-darker-2,
    "3":    $khaki-darker-3,
    "4":    $khaki-darker-4,
    "5":    $khaki-darker-5,
    "6":    $khaki-darker-6,
    "7":    $khaki-darker-7,
    "8":    $khaki-darker-8,
    "9":    $khaki-darker-9,
    "10":   $khaki-darker-10,
    "11":   $khaki-darker-11,
    "12":   $khaki-darker-12,
    "13":   $khaki-darker-13,
    "14":   $khaki-darker-14,
    "15":   $khaki-darker-15
);