$magenta-lighter-1:     Lighter($magenta, $percentage-small-15);
$magenta-lighter-2:     Lighter($magenta, $percentage-small-14);
$magenta-lighter-3:     Lighter($magenta, $percentage-small-13);
$magenta-lighter-4:     Lighter($magenta, $percentage-small-12);
$magenta-lighter-5:     Lighter($magenta, $percentage-small-11);
$magenta-lighter-6:     Lighter($magenta, $percentage-small-10);
$magenta-lighter-7:     Lighter($magenta, $percentage-small-9);
$magenta-lighter-8:     Lighter($magenta, $percentage-small-8);
$magenta-lighter-9:     Lighter($magenta, $percentage-small-7);
$magenta-lighter-10:    Lighter($magenta, $percentage-small-6);
$magenta-lighter-11:    Lighter($magenta, $percentage-small-5);
$magenta-lighter-12:    Lighter($magenta, $percentage-small-4);
$magenta-lighter-13:    Lighter($magenta, $percentage-small-3);
$magenta-lighter-14:    Lighter($magenta, $percentage-small-2);
$magenta-lighter-15:    Lighter($magenta, $percentage-small-1);



$magenta-lighters: (
    "1":    $magenta-lighter-1,
    "2":    $magenta-lighter-2,
    "3":    $magenta-lighter-3,
    "4":    $magenta-lighter-4,
    "5":    $magenta-lighter-5,
    "6":    $magenta-lighter-6,
    "7":    $magenta-lighter-7,
    "8":    $magenta-lighter-8,
    "9":    $magenta-lighter-9,
    "10":   $magenta-lighter-10,
    "11":   $magenta-lighter-11,
    "12":   $magenta-lighter-12,
    "13":   $magenta-lighter-13,
    "14":   $magenta-lighter-14,
    "15":   $magenta-lighter-15
);