$aquamarine-darker-1:   Darker($aquamarine, $percentage-small-15);
$aquamarine-darker-2:   Darker($aquamarine, $percentage-small-14);
$aquamarine-darker-3:   Darker($aquamarine, $percentage-small-13);
$aquamarine-darker-4:   Darker($aquamarine, $percentage-small-12);
$aquamarine-darker-5:   Darker($aquamarine, $percentage-small-11);
$aquamarine-darker-6:   Darker($aquamarine, $percentage-small-10);
$aquamarine-darker-7:   Darker($aquamarine, $percentage-small-9);
$aquamarine-darker-8:   Darker($aquamarine, $percentage-small-8);
$aquamarine-darker-9:   Darker($aquamarine, $percentage-small-7);
$aquamarine-darker-10:  Darker($aquamarine, $percentage-small-6);
$aquamarine-darker-11:  Darker($aquamarine, $percentage-small-5);
$aquamarine-darker-12:  Darker($aquamarine, $percentage-small-4);
$aquamarine-darker-13:  Darker($aquamarine, $percentage-small-3);
$aquamarine-darker-14:  Darker($aquamarine, $percentage-small-2);
$aquamarine-darker-15:  Darker($aquamarine, $percentage-small-1);



$aquamarine-darkers: (
    "1":    $aquamarine-darker-1,
    "2":    $aquamarine-darker-2,
    "3":    $aquamarine-darker-3,
    "4":    $aquamarine-darker-4,
    "5":    $aquamarine-darker-5,
    "6":    $aquamarine-darker-6,
    "7":    $aquamarine-darker-7,
    "8":    $aquamarine-darker-8,
    "9":    $aquamarine-darker-9,
    "10":   $aquamarine-darker-10,
    "11":   $aquamarine-darker-11,
    "12":   $aquamarine-darker-12,
    "13":   $aquamarine-darker-13,
    "14":   $aquamarine-darker-14,
    "15":   $aquamarine-darker-15
);