@use "sass:selector";
@use "sass:string";

$dark-violet-name:  string.quote("dark-violet");



$dark-violet:    #9400D3;

$dark-violet-50:    Lighter($dark-violet, percentage(4.5, 5));
$dark-violet-100:   Lighter($dark-violet, percentage(4, 5));
$dark-violet-200:   Lighter($dark-violet, percentage(3, 5));
$dark-violet-300:   Lighter($dark-violet, percentage(2, 5));
$dark-violet-400:   Lighter($dark-violet, percentage(1, 5));
$dark-violet-500:   var(selector.append($variable-prefix, $dark-violet-name));
$dark-violet-600:   Darker($dark-violet, percentage(1, 5));
$dark-violet-700:   Darker($dark-violet, percentage(2, 5));
$dark-violet-800:   Darker($dark-violet, percentage(3, 5));
$dark-violet-900:   Darker($dark-violet, percentage(4, 5));
$dark-violet-950:   Darker($dark-violet, percentage(4.5, 5));



$dark-violets: (
    "50":   $dark-violet-50,
    "100":  $dark-violet-100,
    "200":  $dark-violet-200,
    "300":  $dark-violet-300,
    "400":  $dark-violet-400,
    "500":  $dark-violet-500,
    "600":  $dark-violet-600,
    "700":  $dark-violet-700,
    "800":  $dark-violet-800,
    "900":  $dark-violet-900,
    "950":  $dark-violet-950
)