$navajo-white-lighter-1:    Lighter($navajo-white, $percentage-small-15);
$navajo-white-lighter-2:    Lighter($navajo-white, $percentage-small-14);
$navajo-white-lighter-3:    Lighter($navajo-white, $percentage-small-13);
$navajo-white-lighter-4:    Lighter($navajo-white, $percentage-small-12);
$navajo-white-lighter-5:    Lighter($navajo-white, $percentage-small-11);
$navajo-white-lighter-6:    Lighter($navajo-white, $percentage-small-10);
$navajo-white-lighter-7:    Lighter($navajo-white, $percentage-small-9);
$navajo-white-lighter-8:    Lighter($navajo-white, $percentage-small-8);
$navajo-white-lighter-9:    Lighter($navajo-white, $percentage-small-7);
$navajo-white-lighter-10:   Lighter($navajo-white, $percentage-small-6);
$navajo-white-lighter-11:   Lighter($navajo-white, $percentage-small-5);
$navajo-white-lighter-12:   Lighter($navajo-white, $percentage-small-4);
$navajo-white-lighter-13:   Lighter($navajo-white, $percentage-small-3);
$navajo-white-lighter-14:   Lighter($navajo-white, $percentage-small-2);
$navajo-white-lighter-15:   Lighter($navajo-white, $percentage-small-1);



$navajo-white-lighters: (
    "1":    $navajo-white-lighter-1,
    "2":    $navajo-white-lighter-2,
    "3":    $navajo-white-lighter-3,
    "4":    $navajo-white-lighter-4,
    "5":    $navajo-white-lighter-5,
    "6":    $navajo-white-lighter-6,
    "7":    $navajo-white-lighter-7,
    "8":    $navajo-white-lighter-8,
    "9":    $navajo-white-lighter-9,
    "10":   $navajo-white-lighter-10,
    "11":   $navajo-white-lighter-11,
    "12":   $navajo-white-lighter-12,
    "13":   $navajo-white-lighter-13,
    "14":   $navajo-white-lighter-14,
    "15":   $navajo-white-lighter-15
);