$sandy-brown-lighter-1:     Lighter($sandy-brown, $percentage-small-15);
$sandy-brown-lighter-2:     Lighter($sandy-brown, $percentage-small-14);
$sandy-brown-lighter-3:     Lighter($sandy-brown, $percentage-small-13);
$sandy-brown-lighter-4:     Lighter($sandy-brown, $percentage-small-12);
$sandy-brown-lighter-5:     Lighter($sandy-brown, $percentage-small-11);
$sandy-brown-lighter-6:     Lighter($sandy-brown, $percentage-small-10);
$sandy-brown-lighter-7:     Lighter($sandy-brown, $percentage-small-9);
$sandy-brown-lighter-8:     Lighter($sandy-brown, $percentage-small-8);
$sandy-brown-lighter-9:     Lighter($sandy-brown, $percentage-small-7);
$sandy-brown-lighter-10:    Lighter($sandy-brown, $percentage-small-6);
$sandy-brown-lighter-11:    Lighter($sandy-brown, $percentage-small-5);
$sandy-brown-lighter-12:    Lighter($sandy-brown, $percentage-small-4);
$sandy-brown-lighter-13:    Lighter($sandy-brown, $percentage-small-3);
$sandy-brown-lighter-14:    Lighter($sandy-brown, $percentage-small-2);
$sandy-brown-lighter-15:    Lighter($sandy-brown, $percentage-small-1);



$sandy-brown-lighters: (
    "1":    $sandy-brown-lighter-1,
    "2":    $sandy-brown-lighter-2,
    "3":    $sandy-brown-lighter-3,
    "4":    $sandy-brown-lighter-4,
    "5":    $sandy-brown-lighter-5,
    "6":    $sandy-brown-lighter-6,
    "7":    $sandy-brown-lighter-7,
    "8":    $sandy-brown-lighter-8,
    "9":    $sandy-brown-lighter-9,
    "10":   $sandy-brown-lighter-10,
    "11":   $sandy-brown-lighter-11,
    "12":   $sandy-brown-lighter-12,
    "13":   $sandy-brown-lighter-13,
    "14":   $sandy-brown-lighter-14,
    "15":   $sandy-brown-lighter-15
);