$medium-aquamarine-darker-1:    Darker($medium-aquamarine, percentage(1, 16));
$medium-aquamarine-darker-2:    Darker($medium-aquamarine, percentage(2, 16));
$medium-aquamarine-darker-3:    Darker($medium-aquamarine, percentage(3, 16));
$medium-aquamarine-darker-4:    Darker($medium-aquamarine, percentage(4, 16));
$medium-aquamarine-darker-5:    Darker($medium-aquamarine, percentage(5, 16));
$medium-aquamarine-darker-6:    Darker($medium-aquamarine, percentage(6, 16));
$medium-aquamarine-darker-7:    Darker($medium-aquamarine, percentage(7, 16));
$medium-aquamarine-darker-8:    Darker($medium-aquamarine, percentage(8, 16));
$medium-aquamarine-darker-9:    Darker($medium-aquamarine, percentage(9, 16));
$medium-aquamarine-darker-10:   Darker($medium-aquamarine, percentage(10, 16));
$medium-aquamarine-darker-11:   Darker($medium-aquamarine, percentage(11, 16));
$medium-aquamarine-darker-12:   Darker($medium-aquamarine, percentage(12, 16));
$medium-aquamarine-darker-13:   Darker($medium-aquamarine, percentage(13, 16));
$medium-aquamarine-darker-14:   Darker($medium-aquamarine, percentage(14, 16));
$medium-aquamarine-darker-15:   Darker($medium-aquamarine, percentage(15, 16));



$medium-aquamarine-darkers: (
    "1":    $medium-aquamarine-darker-1,
    "2":    $medium-aquamarine-darker-2,
    "3":    $medium-aquamarine-darker-3,
    "4":    $medium-aquamarine-darker-4,
    "5":    $medium-aquamarine-darker-5,
    "6":    $medium-aquamarine-darker-6,
    "7":    $medium-aquamarine-darker-7,
    "8":    $medium-aquamarine-darker-8,
    "9":    $medium-aquamarine-darker-9,
    "10":   $medium-aquamarine-darker-10,
    "11":   $medium-aquamarine-darker-11,
    "12":   $medium-aquamarine-darker-12,
    "13":   $medium-aquamarine-darker-13,
    "14":   $medium-aquamarine-darker-14,
    "15":   $medium-aquamarine-darker-15
);