$goldenrod-lighter-1:   Lighter($goldenrod, $percentage-small-15);
$goldenrod-lighter-2:   Lighter($goldenrod, $percentage-small-14);
$goldenrod-lighter-3:   Lighter($goldenrod, $percentage-small-13);
$goldenrod-lighter-4:   Lighter($goldenrod, $percentage-small-12);
$goldenrod-lighter-5:   Lighter($goldenrod, $percentage-small-11);
$goldenrod-lighter-6:   Lighter($goldenrod, $percentage-small-10);
$goldenrod-lighter-7:   Lighter($goldenrod, $percentage-small-9);
$goldenrod-lighter-8:   Lighter($goldenrod, $percentage-small-8);
$goldenrod-lighter-9:   Lighter($goldenrod, $percentage-small-7);
$goldenrod-lighter-10:  Lighter($goldenrod, $percentage-small-6);
$goldenrod-lighter-11:  Lighter($goldenrod, $percentage-small-5);
$goldenrod-lighter-12:  Lighter($goldenrod, $percentage-small-4);
$goldenrod-lighter-13:  Lighter($goldenrod, $percentage-small-3);
$goldenrod-lighter-14:  Lighter($goldenrod, $percentage-small-2);
$goldenrod-lighter-15:  Lighter($goldenrod, $percentage-small-1);



$goldenrod-lighters: (
    "1":    $goldenrod-lighter-1,
    "2":    $goldenrod-lighter-2,
    "3":    $goldenrod-lighter-3,
    "4":    $goldenrod-lighter-4,
    "5":    $goldenrod-lighter-5,
    "6":    $goldenrod-lighter-6,
    "7":    $goldenrod-lighter-7,
    "8":    $goldenrod-lighter-8,
    "9":    $goldenrod-lighter-9,
    "10":   $goldenrod-lighter-10,
    "11":   $goldenrod-lighter-11,
    "12":   $goldenrod-lighter-12,
    "13":   $goldenrod-lighter-13,
    "14":   $goldenrod-lighter-14,
    "15":   $goldenrod-lighter-15
);