$light-slate-gray-lighter-1:    Lighter($light-slate-gray, percentage(1, 16));
$light-slate-gray-lighter-2:    Lighter($light-slate-gray, percentage(2, 16));
$light-slate-gray-lighter-3:    Lighter($light-slate-gray, percentage(3, 16));
$light-slate-gray-lighter-4:    Lighter($light-slate-gray, percentage(4, 16));
$light-slate-gray-lighter-5:    Lighter($light-slate-gray, percentage(5, 16));
$light-slate-gray-lighter-6:    Lighter($light-slate-gray, percentage(6, 16));
$light-slate-gray-lighter-7:    Lighter($light-slate-gray, percentage(7, 16));
$light-slate-gray-lighter-8:    Lighter($light-slate-gray, percentage(8, 16));
$light-slate-gray-lighter-9:    Lighter($light-slate-gray, percentage(9, 16));
$light-slate-gray-lighter-10:   Lighter($light-slate-gray, percentage(10, 16));
$light-slate-gray-lighter-11:   Lighter($light-slate-gray, percentage(11, 16));
$light-slate-gray-lighter-12:   Lighter($light-slate-gray, percentage(12, 16));
$light-slate-gray-lighter-13:   Lighter($light-slate-gray, percentage(13, 16));
$light-slate-gray-lighter-14:   Lighter($light-slate-gray, percentage(14, 16));
$light-slate-gray-lighter-15:   Lighter($light-slate-gray, percentage(15, 16));



$light-slate-gray-lighters: (
    "1":    $light-slate-gray-lighter-1,
    "2":    $light-slate-gray-lighter-2,
    "3":    $light-slate-gray-lighter-3,
    "4":    $light-slate-gray-lighter-4,
    "5":    $light-slate-gray-lighter-5,
    "6":    $light-slate-gray-lighter-6,
    "7":    $light-slate-gray-lighter-7,
    "8":    $light-slate-gray-lighter-8,
    "9":    $light-slate-gray-lighter-9,
    "10":   $light-slate-gray-lighter-10,
    "11":   $light-slate-gray-lighter-11,
    "12":   $light-slate-gray-lighter-12,
    "13":   $light-slate-gray-lighter-13,
    "14":   $light-slate-gray-lighter-14,
    "15":   $light-slate-gray-lighter-15
);