<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../src/Style/css/Postcss.css" rel="stylesheet" type="text/css" />
        <script src="../src/Script/JavaScript/Maths/Fibonacci.js" type="text/javascript"></script>
        <script src="../src/Script/JavaScript/Time/Today.js" type="text/javascript"></script>
        <script src="../src/Script/JavaScript/Maths/Calculation/Calculate.js" type="text/javascript"></script>
        <script src="../src/Script/JavaScript/Maths/Calculation/Age.js" type="text/javascript"></script>
        <title>Document</title>
    </head>
    <body class="background-color-gray">
        <p class="text-white">aaa</p>
        <p>asdasdxcv</p>
        <a href="NavBar.html">
            NavBar
        </a>
    </body>
</html>